[2017-07-11 07:21] #1308 closed

[2017-07-11 07:30] mssola commented on #1308
Note that this is now done automatically in some environments like the docker-compose and vagrant in development mode. For other development setups, check the new page from the [wiki](https://github.com/SUSE/Portus/wiki/The-frontend-of-Portus).

[2017-07-11 07:45] mssola commented on #1313
That's weird... Just to check, I downloaded the latest `docker-compose` version, and performed the `pull` command. It effectively complains about the missing image. So, it means that you have to build first the `portus_portus` one, which is the one for development purposes built locally, and then pull. Funnily enough, this is all handled automatically with the `up` command. So, with a simple `dock

[2017-07-11 09:51] mssola opened #1314 "Dropdown menu for namespace webhooks no longer works"
If you click on the ellipsis, nothing happens.

[2017-07-11 09:52] mssola commented on #1310
See #1314

It's not possible for now... See #767.

I'm closing this issue, but feel free to leave more comments if you have any doubts.

[2017-07-11 09:52] #1310 closed

[2017-07-11 09:53] mssola commented on #1309
That's really weird ...

- What's the version of Portus?
- How have you deployed Portus ?

[2017-07-11 10:11] lukeshaughnessy commented on #1313
I tried again with a totally fresh setup on my mac with the latest docker and docker-compose version and got the following:

[code]
To be honest I don't know how I got the "portus_portus" image to build before, I was just monkeying with things until I say the image appear.

[2017-07-11 10:21] mssola commented on #1313
For me it builds the image first. I have applied some changes (a depends_on, just to be sure). Tell me if this patch works for you:

[code]

[2017-07-11 10:38] lukeshaughnessy commented on #1313
That fix resolved the issue with the missing image, however the other error is back:
This is the tail of the portus container logs:

[code]

Incidentally, there is not a container or image called "webpack":

[code]

[2017-07-11 10:48] mssola commented on #1313
Ok I'll submit a PR with that.

Regarding the missing webpack container, have you checked with the `-a` flag ? Maybe the container errored out for some reason 😕

[2017-07-11 12:23] lukeshaughnessy commented on #1313
Looks like it was never created:

[code]

[2017-07-11 12:26] lukeshaughnessy commented on #1313
[code]

[2017-07-11 12:53] mssola commented on #1313
@lukeshaughnessy now I was able to reproduce it! This happens when using `docker-compose` for the first time, when the `node_modules` directory hasn't been generated yet.

[2017-07-11 13:23] mssola commented on #1313
@lukeshaughnessy take a look at #1316. This should fix your issue.

[2017-07-11 13:44] lukeshaughnessy commented on #1313
@mssola pulling your fork did the trick - I get the web gui now - cheers!

[2017-07-11 13:47] #1313 closed

[2017-07-11 13:47] mssola commented on #1313
@lukeshaughnessy merged into master. Thanks for reporting!

[2017-07-13 09:34] tturbs opened #1317 "Failed to get token during webhook"
Dear all,

My portus configuration failed to get authorizing during webhook's handle_push_event. When I push a image into registry,

1. `Handling 'push' event` is ok. I tracked down to call get_page() on registry_client.rb .
2. As a result of the above, registry's `authorization token required` request token to portus. But portus returns any response.
3. Every of portus is hung. Also whole web is

[2017-07-14 04:16] tturbs commented on #1317
I think this is duplication of https://github.com/SUSE/Portus/issues/940

[2017-07-14 04:16] #1317 closed

[2017-07-14 07:37] #1314 closed

[2017-07-17 07:51] tturbs commented on #940
Anyone did further work on it so far?

[2017-07-18 08:08] patfrat commented on #982
Hello, it seems to be only wrong environment variables
Use this to launch the Portus docker

[code]
instead of

[code]

[2017-07-18 09:33] smile326 commented on #982
@patfrat
i do as you say,like this:
./compose-setup.sh -e 192.168.0.138 \
 -e PORTUS_PRODUCTION_HOST=mariadb \
 -e PORTUS_PRODUCTION_USERNAME=portus \
 -e PORTUS_PRODUCTION_PASSWORD=portus \
 -e PORTUS_PRODUCTION_DATABASE=portus

but it still the same result.

[2017-07-18 09:52] patfrat commented on #982
I use opensuse/portus:head

[2017-07-18 09:54] patfrat commented on #982
[code]

[2017-07-18 11:01] vitoravelino commented on #1135
@mssola I guess we can close this also after merging https://github.com/SUSE/Portus/pull/1289, right?

[2017-07-18 11:15] mssola commented on #1135
@vitoravelino yes, closing...

[2017-07-18 11:15] #1135 closed

[2017-07-18 14:00] patfrat commented on #982
I have also fixed the nginx/proxy.conf file

change that :

proxy_pass https://portus;
by
proxy_pass http://portus;

proxy_pass https://registry;
by
proxy_pass http://registry;

And change this upstream :
upstream portus {
	server	portus:443;
}
to
upstream portus {
	server	portus:3000;
}

[2017-07-18 14:47] patfrat commented on #982
This seems to be working and connect to the database without CSS compiling error for the Portus v2.2.and not v2.3 aka head

[code]
It crashes first time but then working ...

[2017-07-21 03:34] #1309 closed

[2017-07-22 06:22] jordanjennings commented on #1135
Is this change built and pushed out to any registry?

I assumed it would be included in `opensuse/portus:head`, but based on the Docker Hub build log, that's actually using a fairly old version:

[code]

(Commit db5f821 is from early March.)

I'm really interested in trying out the integration with Clair. Let me now if there's any options right now, and if not when I might be able to get an image

[2017-07-24 06:25] gopal-gemini commented on #1305
It's working fine to me on centos 7.2.1511

[2017-07-24 06:32] gopal-gemini opened #1335 "unauthorized for different repository"
authorization failed if I used with the repository.

docker push working fine with this config
localhost:5000/centos

but not working with this repository

localhost:5000/myrepos/centos

Do I need to modify any other configuration to push this repos?

[2017-07-24 15:15] jordanjennings commented on #801
This would be a really helpful feature for us as well. If I've understood the discussion so far, it sounds like people are mostly thinking in terms of bots at the team level, however I'd really like to be able to treat a "bot" user like any other user and put them in multiple teams. We have several internal teams that share a jenkins and it would be simplest just to have a single user to manage. T

[2017-07-25 10:29] gopal-gemini commented on #1335
Refer the document and used it as a namespace.

[2017-07-25 10:29] #1335 closed

[2017-07-25 10:30] gopal-gemini opened #1338 "large images push failed with unauthorized"
I tried to push large size images to the repository. It pushed few layers and failed with unauthorized errors.

f88af6b7b410: Layer already exists
42755cf4ee95: Pushed
unauthorized: authentication required

How to tweak to upload the large size of images?

[2017-07-25 20:39] Vad1mo commented on #1338
increase the jwt_expiration_time from 5 min to e.g. 10 min or what ever you want.

[2017-07-26 07:16] gopal-gemini commented on #1338
Thanks! I just modified in ./config/config.yml but still, the problem exists.

[2017-07-26 09:14] Vad1mo commented on #1338
do you have a reverse proxy or LB in from of the registry?
Can you measure the time when you do the upload?

[code]

Based on the time returned, you can probably narrow the the source a bit more.

[2017-07-26 13:49] mssola opened #1340 "Add name column for webhook"
Identifying webhooks by the URL might be misleading in some cases. So, it could be better to add an optional `name` column that can be used to better identify the webhook.

[2017-07-26 18:36] psyhomb commented on #1304
Anything new on this, I'm experiencing the same problem?

[2017-07-26 20:33] jordanjennings opened #1343 "Docker Hub does not have latest code from master in the head tag"
Based on the documentation on these pages:

https://hub.docker.com/r/opensuse/portus/
https://github.com/SUSE/Portus/wiki/OBS-projects

I _think_ that the `head` tag is supposed to have the latest code from master. Is that correct? If so, then something isn't configured correctly because it seems to be building with code from March.

In the build log for the `head` tag I see:

[code]
 There's a co

[2017-07-26 21:45] yawboateng opened #1344 "Question: does this work with AWS' ECR"
i am currently using AWS' container registry and was wondering if its possible to front it Portus? Im mostly intreated with the coreOS Clair integrations.

[2017-07-26 23:10] fentas opened #1345 "Portus freezes after docker push"
Heyho,
for my setup I followed the docker-compose setup. (https://github.com/SUSE/Portus/blob/master/examples/) Also used the secure method with valid ssl certificates. It seems all working - Portus site is up and running, created a new user.

Now I can login with `docker login` - no porps. But when I want to push I get
[code]

Portus logs
[code]

Registry logs
[code]

Any clues? (Same setup as ex

[2017-07-27 08:49] fentas commented on #1345
Also tried to expose registry port 500 and changed within Portus registry UI
`registry:5000` to `docker.___.com:5000` and SSL on (before registry was only internal with no SSL)

The effect was that `docker login docker.____.com` did not work anymore. Got an HTML response (`Page not found!`). What then worked was `docker login docker.____.com:5000`.

But after retagging to `docker.____.com:5000` re

[2017-07-27 10:25] fentas commented on #1345
Alright. Helped myself. :tada:
I separated `registry` from `portus`. Now I have `docker.___.com` pointing to `registry:5000` and `auth.___.com` to `portus-nginx`.

Then I had to change ENV for the registry.
[code]
`MACHINE_FQDN` is here now tld (`___.com`). Next I change within Portus registry UI the registry value to `docker.____.com`.

After logging in `docker.___.com` upload is working... But n

[2017-07-27 11:03] fentas commented on #1345
After updating `Portus Endpoint` in `registry
[code]

Updates are pushed. But after the push `Portus` stuck somewhere... ( the whole platform freezes for about 20-30 seconds)

Logs for `Portus`
[code]

`registry` logs
[code]

[2017-07-27 11:09] fentas commented on #1345
most likely now dup of #940.

[2017-07-27 11:09] #1345 closed

[2017-07-27 11:11] fentas commented on #940
I experience the same issue :disappointed:. I had other Problems first but finally ended here. I posted some logs: #1345

[2017-07-27 12:50] mssola commented on #1344
Since docker distribution supports AWS, then it should be possible. I'm going to close this issue, but feel free to write more comments if you have more doubts on this topic. Otherwise, for general questions, please use the [mailing list](https://groups.google.com/forum/#!forum/portus-dev)

[2017-07-27 12:50] #1344 closed

[2017-07-27 12:51] mssola commented on #1135
@jordanjennings fixed!

[2017-07-27 12:57] jordanjennings commented on #1343
Based on the comment in #1135 this is now fixed and I see the `head` image was built from commit 9d71cd5. Thank you!

[2017-07-27 12:57] #1343 closed

[2017-07-27 13:11] mssola commented on #1343
Now it does. The build in OBS was broken for quite some time... Sorry for the trouble

[2017-07-27 16:00] mssola commented on #1304
Nothing for sure, but early november is a likely candidate.

This should already be fixed. Could you re-check again ? I just fixed an issue on the Docker image...

[2017-07-28 00:37] psyhomb commented on #1304
Thanks for the quick answer @mssola

Can you please give me some inputs regarding production ready `docker-compose.yml` file, because I see a quite few of them and to be honest I'm not really sure which one should I use?

- `./docker-compose.yml` development
- `./examples/compose/docker-compose.insecure.yml` without HTTPS support
- `./examples/compose/docker-compose.yml` with HTTPS support

Right

[2017-07-28 01:34] psyhomb commented on #1304
I'm getting similar error

![screenshot from 2017-07-28 03-33-46](https://user-images.githubusercontent.com/1824874/28698743-a87679f2-7345-11e7-8f3d-14c7bbb5a8e9.png)

[2017-07-28 15:13] jamesmaidment opened #1351 "Clair security backend throwing 500 when Layer missing Features key"
Example layer:
[code]
Error message:
[code]

I'm happy to submit a patch to check the Layer for the Feature key.

[2017-07-28 23:54] jamesmaidment commented on #1351
PR: https://github.com/SUSE/Portus/pull/1352

[2017-07-29 15:52] psyhomb commented on #1304
I just realized my problem was that I was using a wrong port  to access WebUI, so I just changed the port (3000 => 443) and everything is working as it should.

changed from
- Access WebUI over URL => `https://ops-kube-registry.test.local:3000`
to
- Access WebUI over URL => `https://ops-kube-registry.test.local`

[2017-07-31 08:23] mssola commented on #1304
Closing then. If you are experiencing this same issue on current master, please feel free to write more comments.

[2017-07-31 08:23] #1304 closed

[2017-07-31 15:25] mssola opened #1355 "Tell the user whether the configured registry is reachable or not"
In either the `edit` or the `index` page there could be a hint telling the user whether the configured registry is available or not:

- This is useful in the `index` page to check whether the registry is available or not, but it's also a re-assurance when you have configured Portus with the `signup_enabled` option disabled, and so you configured the registry manually through the CLI.
- In the `edi

[2017-08-01 11:01] mssola opened #1357 "Add a /_health endpoint"
This endpoint should be used to check whether Portus is up and running. Moreover, it may also be used to check whether other external services are available as well (database, clair, ...). This should have both a proper HTML and JSON response. Moreover, there should also exist a simpler version in `/_ping`, which simply returns a 200 response.

[2017-08-02 03:06] soedar opened #1360 "Changes to docker compose example"
I would like to propose some changes to the docker compose examples, and would like to get some feedback on whether these changes are worth implementing:

1. Move more environment variables to the `.env` file. It would allow the `docker-compose.yml` file to be more "standardized", with runtime configuration for each platform be set without modifying the `docker-compose.yml` file. For example, `POR

[2017-08-02 03:49] k19810703 opened #1361 "How to persist my user data"
I deployed by docker-compose , every time I restart them , my data seems lost , it requires me to create admin user , how to fix this?

[2017-08-02 06:50] mssola commented on #1361
Well, you should do this with volumes. I guess that you are using the development version of the `docker-compose.yml` file (the one in the root of the project). If you want to read an example closer to production, check the `examples/compose` directory. Those `docker-compose.yml` files define volumes so it will persist.

Moreover, for questions like this please go to the [mailing list](https://gro

[2017-08-02 06:50] #1361 closed

[2017-08-02 09:18] mssola commented on #1360
Sounds good to me.

Looks good to me. But when doing it be sure to document the minimum required versions of both Docker and docker-compose (and make sure that they are not the latest release, but some older).

I actually did this on purpose 😁 I wanted to show examples that share the volume with NGinx (might be desirable for some users), and other examples that serve the assets with puma directly

[2017-08-02 14:54] mssola commented on #1305
Note that the `docker-compose` setup has changed greatly. Try again. For now I'll close this issue, but feel free to leave more comments.

[2017-08-02 14:54] #1305 closed

[2017-08-02 14:55] mssola commented on #1303
@chenliping972385283 did you solve your issues ?

[2017-08-02 14:59] mssola commented on #1271
The `docker-compose` setup has changed quite a lot. Moreover, we've provided a set of production-ready examples in `examples/compose`. Check them out, since they will probably answer your questions 😉

Closing this now, but feel free to leave more comments if you have more doubts.

[2017-08-02 14:59] #1271 closed

[2017-08-02 15:01] mssola commented on #1265
Fixed with #1289.

[2017-08-02 15:01] #1265 closed

[2017-08-02 15:02] mssola commented on #1248
Closing. If you have more doubts, please leave more comments.

[2017-08-02 15:02] #1248 closed

[2017-08-02 15:04] #1145 closed

[2017-08-02 15:06] mssola commented on #1061
Closing since more versions have been released since then. If this is still relevant, please feel free to re-open it.

[2017-08-02 15:06] #1061 closed

[2017-08-02 15:09] mssola commented on #908
Closing since we haven't got an answer. Feel free to re-open it though.

[2017-08-02 15:09] #908 closed

[2017-08-02 15:25] mssola commented on #680
I think this can be closed. We have written some examples that might help on this question. Feel free to leave more comments if you have more doubts.

[2017-08-02 15:25] #680 closed

[2017-08-02 15:28] mssola commented on #523
We have written some examples, and of them uses the same FQDN for everything. So I'm going to close this, but if you have more doubts feel free to leave some comments.

[2017-08-02 15:28] #523 closed

[2017-08-02 15:49] #1297 closed

[2017-08-03 03:01] Shooting1007 opened #1365 "When i try to visit the website,i get some errors.My OS is CentOS7"
![image](https://user-images.githubusercontent.com/17960727/28904040-cd95cdb0-783a-11e7-88f5-64c4abf0596d.png)

This is my docker info:
![image](https://user-images.githubusercontent.com/17960727/28904080-13980bde-783b-11e7-9aa9-8305a6a647d0.png)

[2017-08-03 03:06] soedar commented on #1360
Actually, upon experimenting, it seems we might have to keep links.

Upon startup, nginx will attempt to resolve the hostname of the upstream services. If the hostname cannot be resolved at the startup, nginx will just die. Adding the `links` seems to create an implicit `depends_on`, and only create the nginx container after registry and portus container comes up (so the dns resolution will not fa

[2017-08-03 08:37] mssola commented on #1360
This example is meant for a simple single host setup. So I think we have two options:

1. We leave things as they are, but write some comments on actions to be performed to make it work for a multi-node setup.
2. We leave things as they are with a comment stating that this only works for a single setup because of X, and then we provide an example with Docker Swarm.

I'm actually a bit out-of-date

[2017-08-03 08:58] mssola commented on #1365
How are you deploying this ? I assume it's a container-based deployment, but are you using an example from this repo ? is it a production environment, or development? Are you using a reverse-proxy ?

Just saying because this is a problem in an asset which usually means that there's something missing in the deployment:

If you used the `RAILS_SERVE_STATIC_FILES` environment variable, then the rever

[2017-08-03 09:04] soedar commented on #1360
Okay, sounds good.

I don't mind taking a crack at option 2, but I'll probably take some time to get it done. :)

[2017-08-04 09:30] raghavendrachari08 commented on #1313
Still am facing this issue which i cloned master branch , is there any thing extra i need to do other than cloning master branch

[2017-08-04 10:30] mssola commented on #1313
@raghavendrachari08 does this work outside of the container ? As in, try to install yarn and run `yarn install`.  Moreover, does `npm install css-loader@0.28.1` work ?

In principle this looks like a connectivity issue honestly. Is there a way I can reproduce this ?

[2017-08-04 11:04] raghavendrachari08 commented on #1313
@mssola yes on docker host am able to run npm install css-loader@0.28.1

`[rkamsali@nila Portus]$ npm install css-loader@0.28.1
/localdisk/rkamsali/Portus
└─┬ css-loader@0.28.1
  ├─┬ babel-code-frame@6.22.0
  │ ├─┬ chalk@1.1.3
  │ │ ├── ansi-styles@2.2.1
  │ │ ├── escape-string-regexp@1.0.5
  │ │ ├─┬ has-ansi@2.0.0
  │ │ │ └── ansi-regex@2.1.1
  │ │ ├── strip-ansi@3.0.1
  │ │ └── supports-color@2.

[2017-08-04 11:06] raghavendrachari08 commented on #1313
This is the output when am executing inside container
`root@70cbcbf05fe7:/srv/Portus# npm install css-loader@0.28.1
npm info it worked if it ends with ok
npm info using npm@5.3.0
npm info using node@v8.2.1
[..................] / rollbackFailedOptional: verb npm-session 3bc7dd532a472005
[..................] / rollbackFailedOptional: verb npm-session 3bc7dd532a472005
[..................] / rollbackF

[2017-08-04 11:29] mssola commented on #1313
It looks like there is something fishy with your network... Could you check whether you can ping registry.npmjs.org from within a container ? If not, maybe you are using a network feature from docker that might be stopping you from accessing internet ? Or maybe you have a firewall rule that is stopping this request ?

[2017-08-04 11:46] raghavendrachari08 commented on #1313
yes , it might be something mess with networking;
Now i tried adding option network_mode: bridge ; it resolved the installation issue.

[2017-08-04 12:06] #1357 closed

[2017-08-07 16:37] superpoussin22 opened #1369 "clair report as a single html"
For the moment Portus is giving a liste of links pointing to the os CVE source.
whe must click also on each link to have a descitiption

it coudl be fine to have a report in html with a few details like the reg utility from Jess Frazzer is providing

ling to jess reg tool and server
https://github.com/jessfraz/reg/
https://github.com/jessfraz/reg/tree/master/server

hope it could be an enhancement

[2017-08-08 09:24] mssola commented on #1369
@superpoussin22 agreed, the UI is pretty raw right now... Thanks for the feedback 👍

[2017-08-08 13:35] mssola opened #1372 "Add a Help page with more resources"
Right now the Help tab simply redirects users to http://port.us.org, which is fine by now, but we can do better:

- Depends on #1299: add documentation of the API, with a way to test it live.
- We can add man pages from `portusctl`.

[2017-08-08 17:42] vitoravelino opened #1373 "Make namespace table sorting reachable through URL"
After sorting, URL should reflect the same state as table. This way user can refresh the page or copy and paste and the table keeps the same state.

Example: `orderBy=clean_name&sortAsc=true`

Extracted from https://github.com/SUSE/Portus/pull/1371.

[2017-08-08 17:44] vitoravelino opened #1374 "Reuse <namespaces-panel> component on Team#show page"
This also includes `Remove legacy components (new-namespace-form and namespaces-panel)`.

Extracted from https://github.com/SUSE/Portus/pull/1371.

[2017-08-08 17:50] vitoravelino opened #1375 "Add global pagination limit config value"
Table page limit is currently hard coded, it would be nice to have this configurable in the global configuration file. It would also be useful for future back-end optimizations too.

[2017-08-08 18:17] vitoravelino opened #1376 "Add inline validation for fields in Namespaces#index form"
Currently there's no inline feedback validation when for back-end validation. The only way of showing validation is through the floating alert which is not good for this case.

[2017-08-09 06:34] mssola commented on #1376
The investigation for this can be useful to fix #861 and #1355.

[2017-08-09 14:04] superpoussin22 opened #1378 "Vulnerabilities no more displayed"
Last version with cconfig gem brake the vulenrabilities display in Portus  (but it display better some tags)

I see nothing in logs regarding clair

[2017-08-09 23:09] Vad1mo opened #1379 "rake cconfig:info undefined method `upcase'"
Not sure if this is a bug or I am doing something wrong, but I get this error.

[code]

[2017-08-10 05:32] Geekays opened #1380 "docker push to portus is not working"
I installed portus on a VM on port 3000 and the registry on 5000. This seems to work fine when I go to the web ui.

However when I do the following:

[code]
it fails. The error that I get is a big HTML file and a HTTP 404.

The error says `**"Routing Error" - No route matches [PUT] "/v1/repositories/admin/jenkins"**`

Can someone help?

[2017-08-10 08:38] mssola commented on #1380
You should use the hostname and the port of your registry, not the ones from portus. This is specified in the documentation in various places, like for example [here](http://port.us.org/docs/first-steps.html#log-in-and-out).

I'm going to close this issue, but feel free to leave more comments 😉 . Moreover, next time that you have a question, please use the [mailing list](https://groups.google.com/

[2017-08-10 08:38] #1380 closed

[2017-08-10 12:18] mssola commented on #1379
@Vad1mo hopefully this is fixed in mssola/cconfig#5. Could you review it ? or check that it works for you ?

[2017-08-10 15:11] mssola commented on #1378
Agreed. There's something off. I'll investigate it whenever I can.

[2017-08-10 20:18] nicodmf opened #1381 "Where is the compose-setup.sh see in the video ?"
As it, this is a pain to install with simplicity, no doc for the ssl and no easy authentification process. Can you update the documentation or the video to have an easy and nice installation ?

[2017-08-10 21:56] Vad1mo commented on #1379
can do so, I first need to figure out how to build a gem and use an unpublished gem in Portus.  Sorry I am not an Ruby expert so it might take some time to figure it out.

[2017-08-10 22:19] Vad1mo commented on #1379
Works now as expected. mssola/cconfig#5 fixes the problem

[2017-08-10 22:19] #1379 closed

[2017-08-11 07:39] mssola commented on #1381
That script no longer exists. Instead you should perform the following:

    $ docker-compose up

I've created #1383 to avoid this confusion. Could you check it out and tell me whether this makes things clearer ? 😄

[2017-08-12 14:08] nicodmf commented on #1381
In this page http://port.us.org/ in the video in the bottom.

[2017-08-14 12:24] mssola commented on #1381
@nicodmf This should be covered in #1385 👍

[2017-08-14 13:34] nicodmf commented on #1381
thanks :)

[2017-08-14 13:34] #1381 closed

[2017-08-16 13:20] jordanjennings opened #1386 "Environment variables are not being used in configuration"
On the latest head image, some environment variables aren't working to control the configuration. For example, I have `PORTUS_MACHINE_FQDN_VALUE=portus.mydomain.com` but it's still got `portus.test.lan` configured and so my registry won't trust it.

The LDAP configuration also doesn't work via environment variables. The DB configuration _does_ appear to work though.

How can I see the full active

[2017-08-16 13:44] Vad1mo commented on #1386
set the prefix `CCONFIG=PORTUS` you can see the final config with `rake cconfig:info`

[2017-08-16 14:05] jordanjennings commented on #1386
@Vad1mo Thanks for the fast response!  Where can I run that rake command inside the running container? I tried in /srv/Portus but got:

[code]

I also tried setting CCONFIG=PORTUS but that doesn't seem to have changed anything. Doing more testing still...

[2017-08-16 14:36] pjottr opened #1387 "pushing microsoft image fail (in plain registry without authentication it works)"
Hi,

I`ve setup a portus environment last days and I find an issue while trying to push an image to the registry.
I've used a registry <-> portus setup described in examples/compose/docker-compose.yml.
Pushing a linux image work fine:
[code]
But pushing a microsoft image fail:
[code]
After changing the registry configuration from:
[code]
to a plain registry without authentication:
[code]
pushing w

[2017-08-16 14:51] Vad1mo commented on #1386
`rake cconfig:info` should be executed in the portus project root dir.

[2017-08-16 15:04] jordanjennings commented on #1386
@Vad1mo yes I'm using `opensuse/portus:head`, sorry should have stated more clearly above

[2017-08-16 15:48] jordanjennings commented on #1386
@Vad1mo what is the "portus project root dir (WORKDIR)" inside the `opensuse/portus:head` container? is there one? or is there any other way I can try to debug why the environment variables are not being used for the configuration? I am not familiar with rails configs, so not sure where to start looking.

[2017-08-16 16:09] Vad1mo commented on #1386
it should be /srv/Portus it seems like the dockerfile is not uptodate with the current code. I would stick to 2.2 in your case.

[2017-08-16 16:12] jordanjennings commented on #1386
Darn, I got everything set up on Kubernetes with head so we could use the security scanning integration. Been working great until now. Maybe I'll tag an older head build that wasn't broken and use it instead. I'll leave this issue open because this should still be addressed when possible.

[2017-08-16 16:19] Vad1mo commented on #1386
when you have everything working then you should also be able to execute `rake` in /srv/Portus and  env var CCONFIG=PORTUS should kick in.  However I think that with the migration to vue there the current dockerfile need a some updates. However I might be wrong, as I am not using it.

[2017-08-16 18:19] generationtech opened #1388 "hostname "host-name.domainname.com" does not match the server certificate"
Hi, I'm trying to use the examples/compose style of implementing a Portus and Docker registry on the same host using SSL with certificates from Letsencrypt. I think I have most everything working and can get to the initial Portus setup screen and create an admin account.

But when I try to add the registry with SSL, I get the webpage error `SSL error while communicating with the registry ...` In t

[2017-08-17 03:06] generationtech commented on #1388
It appears to do the same thing even with a self-signed certificate created like this:

`openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout portus.key -out portus.crt`

[2017-08-17 03:11] generationtech commented on #1386
I did notice similar effect in troubleshooting my [#1388](https://github.com/SUSE/Portus/issues/1388)

When I switched to using the "Insecure Example" production configuration from the Github source, the Portus server insisted on needing SSL (admin webpage error) even though the configuration option

`PORTUS_CHECK_SSL_USAGE_ENABLED: 'false'`

was set. Sounds similar to the kinds of problem @jordan

[2017-08-17 03:25] jordanjennings commented on #1386
@generationtech just as a temporary fix you can use a "cached" version of head that I put up on Docker Hub at jordanjennings/portus:head-working, it's from a couple weeks back (not 100% sure on the date but it has security scanning working which is what I was interested in).

[2017-08-17 05:25] pjottr commented on #1387
After digging deeper into the logs it looks link a scoping issue.
I`ve retagged the images:
[code]
and pushed without the microsoft scope
[code]
Environment above linux as client and server.

Retest setup with Windows 10 as client (damon in Linux mode):
Retag:
[code]
and push
[code]
and the same behaviour for Microsoft images (damon in Windows mode):
Retag:
`PS C:\Windows\system32> docker tag WL-D

[2017-08-17 05:25] #1387 closed

[2017-08-17 10:02] #1374 closed

[2017-08-17 12:06] generationtech commented on #1386
Thanks for that referral. I tried it and still have the problem registering an SSL registry, whether using Letsencrypt certs or self-signed. I guess I will continue working it in that other issue thread

[2017-08-17 12:08] generationtech commented on #1388
This is still an issue even after attempting the cached version of head mentioned in [1386](https://github.com/SUSE/Portus/issues/1386)

[2017-08-17 12:17] generationtech commented on #1386
BUT, I can now use the "Insecure Example" production configuration from the Github source by using your cached version of head. So apparently that helps with getting the SSL bypass environment variable into the Portus image similar to your environment var problem. Much appreciated! I'm still gonna need to fix my SSL, but at least I can test Portus now.

[2017-08-17 15:00] vitoravelino opened #1390 "Make namespace table pagination reachable through URL"
After changing the page, URL should reflect the same state as table. This way user can refresh the page or copy and paste and the table keeps the same state.

Example: `page=2`

Extracted from https://github.com/SUSE/Portus/pull/1371.

[2017-08-17 22:10] #1373 closed

[2017-08-18 04:15] generationtech commented on #1388
I've isolated the source code for this error down to:

`Portus-master/lib/portus/http_helpers.rb`

[code]

**If I change this to:**

[code]

It still doesn't work and I get this error:
[code]
**If I try to pull up the URL directly in a browser:**
`https://host-name.domainname.com/v2/`

I get authentication error:
[code]
Which I guess is kind of expected because we are trying to implement authentic

[2017-08-18 19:00] #1390 closed

[2017-08-20 08:44] vagharsh opened #1393 "connect portus to my docker registry using username and password"
After i successfully installed portus:head with the docker-compose method ( nginx, portus ) i want to connect it to my private registry in my network. the docker registry admin gave me username and password but still no clear documentation on how to connect it. i am getting `Exception: Cannot find bearer realm` every 10 minutes. any help will be appreciated.
my docker version is 1.12.6 and the doc

[2017-08-20 18:24] generationtech commented on #1388
I'm not sure what's going on with the Portus project. I see lots of prior commits and contributors, and the website/documentation looks very appealing. To me the instructions are inaccurate and overall deployment strategies seem inconsistent and incongruent. Also there appears to be an exceptional amount of open Github issues.

Ultimately, I was not able to get any of the configurations in the exa

[2017-08-22 12:22] #1376 closed

[2017-08-22 12:32] vitoravelino commented on #1376
It definitely was.

[2017-08-22 13:27] vitoravelino commented on #585
Current status:

- [X] Namespaces
- [ ] Teams
- [ ] Team members

[2017-08-22 14:48] jordanjennings commented on #1154
Is this resolved with the "External Registry Name" field that's now available in the registry settings under "Show Advanced"? I'm not sure if this was available at the time this issue was opened.

[2017-08-23 13:30] Vad1mo commented on #1393
The UI and the registry are kind of bonded together. This means that the registry is asking the UI for user to authenticate. The UI is logging in to the registry with its first default user `portus`.

See here : https://docs.docker.com/registry/spec/auth/token/

So if you have alredy a plain vanilla registry you have to change the config according to the setting described in the docs especially th

[2017-08-23 13:38] vagharsh commented on #1393
the docker registry has been setup and i don't have the luxury to change it. its been setup with a username and password authentication, on port 443.

so as i understood from what you said then i need to configure my portus UI with the docker registry username and password ? and where should i use the auth.token ?

[2017-08-23 13:53] Vad1mo commented on #1393
I am not entirely sure if it will work as you expect. If you look at the [diagram](https://docs.docker.com/registry/spec/auth/token/) closely. You will notice that the registry is asking the Auth Service(Portus) if the provided username:password is correct. When you change the username:password in Portus to the one you have, then your registry will still communicate with your current auth service

[2017-08-23 13:59] vagharsh commented on #1393
i am using registry:2 , i have access to the registry but i can't do any changes in it .

[2017-08-23 14:01] Vad1mo commented on #1393
you can try the change the password and see how far you get with the Portus cron job.

[2017-08-23 14:05] vagharsh commented on #1393
change what's password ? i have tried to setup a user with the same credentials of the docker registry and setup the portus to check for the my registry but there was no luck . .i can not change the registry password though, if that's what you meant.

[2017-08-23 15:40] Vad1mo commented on #1393
password of the user `portus` in Portus. But looking at the code Portus is looking for the user with the name portus and not with the user of if = 1.  So if you want to make it work you need to have a user called `portus`in your current auth service, otherwise you need to change to portus code

[2017-08-24 02:54] zkf9971 opened #1395 "Can't log into dashboard"
Hi, I was planning to create a new user, so I can login with that new one. but admin user login to dashboard is not working, common user can't log into it either. I get the error like the attached screenshot:
![screen shot 2017-08-24 at 10 51 17](https://user-images.githubusercontent.com/1213101/29647142-3f35c36e-88ba-11e7-81f1-6a9698caf388.png)

From the log trace, I see following error.  Thanks

[2017-08-24 10:16] vagharsh commented on #1393
apparently my registry was setup with `htpasswd` and not with `token` ( auth server ) so i think in that case Portus won't be able to work with it

[2017-08-30 14:00] mssola commented on #1395
I cannot reproduce this problem:

1. Do you have a clear step-by-step guide on how to reproduce it ?
2. Which version (or commit) of Portus are you running on ?

[2017-08-30 14:05] lonewulf commented on #1393
You *do* need to change the registry config, it should not be 'protected' by htpasswd and have to correct configuration bits to work with portus (specifically the auth: token part, for reference: https://docs.docker.com/registry/configuration/#list-of-configuration-options)

You should then configure portus with the same service/issuer and the key corresponding to the cert used in the registry, on

[2017-08-30 14:07] mssola commented on #1154
I think so. Moreover, things have changed in Portus (e.g. docker-compose setup). so this might not be relevant anymore.

@schancel I'll close this issue, but feel free to re-open it if you think this still applies 😉

[2017-08-30 14:07] #1154 closed

[2017-08-30 14:08] vagharsh commented on #1393
is it easy to migrate registry data from auth htpasswd to auth token ? we have jenkins and spinaker also using the registry username password , will they be able to connect to the docker using username and password only without token ?

[2017-08-30 14:40] Vad1mo commented on #1393
yes the flow stays the same, jenkins and spinnaker can use the registry as is. The only thing you should do is to create application tokens and update your jenkins/spinnaker config with the new application specific password.

[2017-08-30 14:41] lonewulf commented on #1393
you'll have to use the docker login command (using the credentials from an account you created in portus)  before pushing/pulling

[2017-08-30 23:42] Vad1mo opened #1398 "Broken Search in head"
on the master #ccf73a4750d5afa58272589ed6dc637cd3412c9c  when trying to search

![image](https://user-images.githubusercontent.com/1492007/29899738-8c236a7c-8ded-11e7-8462-c1ce90f103eb.png)

[2017-08-31 09:27] mssola commented on #1398
Fixed in #1399. Nice catch! Thanks 👍

[2017-08-31 10:23] #1398 closed

[2017-08-31 21:15] dnull88 opened #1402 "couldn't delete tag from registry by portus"
i try use portus on kubernetes (minikube). DB,Registry,portus is up. Authentication (as docker login) works, webhook-notification works. When i try delete tag by portus - i receive "... unable to be removed." In registry log:
`time="2017-08-31T21:09:10.144423169Z" level=warning msg="error authorizing context: authorization token required" go.version=go1.7.6 http.request.host="reg.****.ua:5000" htt

[2017-09-01 09:56] mssola commented on #1402
Here's your problem: `Could not delete tag on the registry: execution expired`. In the source code of Portus we have a timeout of 2 seconds for any HTTP request, which includes the registry (https://github.com/SUSE/Portus/blob/master/lib/portus/http_helpers.rb#L152). So, I'd start investigating why is it so *slow* (if you could login with docker, then I assume that the registry is reachable at som

[2017-09-01 09:59] mssola commented on #1402
It's also worth mentioning that this timeout value is quite magical (at the time we thought it was enough, but maybe this isn't always the case). So another solution would be to increase it (or even make it configurable). That being said, I'd like to know why is it so slow...

Would it be possible for you to increase this value, and check which is the timeout value that works for you ?

[2017-09-01 22:28] drosskopp opened #1404 "LDAP Completed 401 Unauthorized"
Hi,

got problems with LDAP-Auth.
A look with tcpdump and wireshark seems that communication with the ldap-server is successfull.
If I disable the LDAP suff everything works as expected.
Tried with clean environments.

On console with `docker-compose up` I got with LDAP-Auth:
[code]

Here a screenshot from wireshark:
![bildschirmfoto 2017-09-01 um 23 44 37](https://user-images.githubusercontent.co

[2017-09-01 22:33] Vad1mo commented on #1404
what ldap are you using ActiveDirectory? Often its bind_dn and base that are not correct.

what helped me was to try it with http://directory.apache.org/studio/ first.

[2017-09-01 22:59] drosskopp commented on #1404
First what I missed to say was that I changed the filter. /srv/Portus/config/config-local.yml looks different now than in wireshark. Tried different filters and without any.

To your Question:
We are using 389 Directory Server from redhat.
I tried ldapsearch from the host of this containers with success with same bind_dn and base:
[code]

The LDAP filter `(&(loginShell=/bin/bash)(homeDirectory=/be

[2017-09-01 23:04] Vad1mo commented on #1404
hmm, no idea, try a newer version of the ldap gem. there is a branch (omniauth) that has the lastest version. You might give that a try.

[2017-09-01 23:40] drosskopp commented on #1404
Out of my scope today ;-)

[2017-09-02 01:19] drosskopp commented on #1404
Hi Vad1mo,

I tried it and it did not work, same result.

[2017-09-04 13:22] mssola commented on #1404
@drosskopp just to be clear, the `authentication` part is embedded in the LDAP config. So instead of your:

[code]

It should be:

[code]

Hopefully that was simply a copy&paste issue 😉 Otherwise, if you are using the containerized setup, why don't you use environment variables instead ? I think it would make the deployment easier for you.

[2017-09-04 19:24] Vad1mo opened #1405 "Clair result in 500 error."
Trying to integrate clair with portus, this is what I get. Not sure if its related to #1378

[code]

[2017-09-04 20:39] Vad1mo opened #1406 "Creating Namespaces results in Error"
On the latest head: 45014974f3f26944725584b89886b226ecc8f79d when I try to create a new namespace this error is yeld in the logs.

**(Couldn't find Namespace with 'id'=typeahead):**

This is the ID that was added.
`INSERT INTO `namespaces` (`id`, `name`, `created_at`, `updated_at`, `team_id`, `registry_id`, `global`, `description`, `visibility`)
VALUES
	(7, 'ns4', '2017-09-04 20:10:48', '2017-09-0

[2017-09-05 09:21] drosskopp commented on #1404
@mssola yes you are right. That was my fault. I have not seen that. You saved my day, thank's a lot, it works. :-D
Why I did not use environment variables. There are no environment variables shown for this on the side of the project https://github.com/openSUSE/docker-containers/blob/master/derived_images/portus/README.md. I tried to follow the syntax because I thought perhaps they are not document

[2017-09-05 10:20] mssola commented on #1404
Yeah, that should've worked, maybe this is related to #1386 ... It appears that the latest `head` image has some regression. I'll look into that later.

So, feel free to comment on that issue if you have more questions or info about this. For now I'm going to close this issue since it was resolved.

[2017-09-05 10:20] #1404 closed

[2017-09-05 14:05] lemonrains opened #1407 "failed with status: 401 Unauthorized"
With the lastest docker-compose file to run container.

https://github.com/SUSE/Portus/blob/master/examples/compose/docker-compose.yml
[code]

After setting the ssl files,

1.  `.env` file to set the FQDN
2.  `nginx.conf` file to set host
3.  add `portus.crt` and `portus.key` to secret folder

I can login to the portus web ui page successful,
however, I can't login by `docker login domain.com`

an

[2017-09-05 14:08] mssola commented on #1406
I can reproduce this in current master ...

[2017-09-05 14:09] mssola commented on #1406
@vitoravelino is it possible that this is an issue from the Vue refactoring ? 😕

[2017-09-05 14:10] mssola commented on #1406
Moreover, the UI freezes ...

[2017-09-05 14:11] vitoravelino commented on #1406
That's probably a side effect of the changes I've made recently. I'll take a look later.

[2017-09-05 14:12] mssola commented on #1405
It might. I'll mark this as a bug, and then I'll come to this whenever I go for #1378.

[2017-09-05 14:17] mssola commented on #1406
Thanks a bunch! 👍

[2017-09-05 14:19] mssola commented on #1407
This is more surely related to #1386... There's something fishy on the Docker image ... I'll close this as a duplicate of that one, but feel free to leave more comment if you like 👍

[2017-09-05 14:19] #1407 closed

[2017-09-05 14:23] mssola commented on #585
@vitoravelino this is already the case for teams and team members no ?

[2017-09-05 14:25] vitoravelino commented on #585
I fixed the namespaces tables. The teams and team members are still missing the refactoring.

[2017-09-05 14:53] mssola commented on #585
@vitoravelino ok sorry then, I thought it was also applied to teams and teams members already 😁

[2017-09-05 14:59] vitoravelino commented on #585
No worries! I want to do that soon. That would be really awesome!

[2017-09-06 14:15] phasenohr opened #1408 "Images not listed anymore after upgrade to latest head version"
Hello,

I had a running combination of docker registry (distribution/registry:latest from July, 7th), portus and portus-crono (opensuse/portus:head retrieved beginning of July) until I updated to opensuse/portus:head on Tuesday 5 September.
Now the registry structure is still correctly displayed, user authentication/authorisation in Portus UI and for the registry are correctly working but no image

[2017-09-06 15:21] phasenohr commented on #1408
In the registry logs, I find the following entries which make me think of some kind of authentication issue but as I did not change any of the configuration options used when running a portus and portus-crono containers out of the opensuse/portus:head image, I am wondering what happened there:

`172.17.0.1 - - [06/Sep/2017:15:01:01 +0000] "GET /v2/jeodpp-services/test-paul/manifests/head HTTP/1.1"

[2017-09-06 16:06] phasenohr commented on #1408
And an extract of portus logs:

[code]

Also, in case it helps, the output of portusctl rake portus:info ran in the portus container:
[code]

[2017-09-06 16:08] Vad1mo commented on #1408
what is the registry config?

[2017-09-06 16:13] Vad1mo commented on #1408
can you also send the registry setting of portus?
you can find them in the DB `SELECT * FROM registries;`

e.g.
[code]

[2017-09-06 16:30] phasenohr commented on #1408
Thanks for the fast answer. Registry config file:
[code]

Output of `SELECT * FROM registries;`
[code]

[2017-09-06 18:38] vitoravelino commented on #1406
I was able to reproduce. Working on it. Nice catch, thanks!

[2017-09-07 07:52] #697 closed

[2017-09-07 07:52] #1108 closed

[2017-09-07 07:52] #1129 closed

[2017-09-07 14:11] mssola opened #1412 "Expand the REST API"
- Documentation and implementation of a final v1 of the API.
- Should we have different scopes for the API ? (e.g. so not only admin users could access the API).

[2017-09-07 14:14] mssola commented on #763
We are starting to develop a REST API. For now we have only included users and application tokens, but more will come in the future. Closing this in favor of #1412.

[2017-09-07 14:14] #763 closed

[2017-09-07 14:16] mssola commented on #1112
This is already handled through #1403 and #1412.

[2017-09-07 14:16] #1112 closed

[2017-09-07 14:17] mssola commented on #1412
Related issues: #1112, #763.
Related PRs: #1403.

[2017-09-08 10:12] #1406 closed

[2017-09-08 10:51] #645 closed

[2017-09-08 21:04] Vad1mo opened #1414 "Not possible to create new namespaces when Rack::Cache is enabled."
if Rack::Cache is enabled

[code]

then its not possible to create new namespaces.The error message is : **Name has already been taken**

originally discovered in #1406

[2017-09-09 21:59] arno01 opened #1415 "portus 2.3.0 Sass::SyntaxError: File to import not found or unreadable: raleway"
Dear Devs,

I am building a docker image using this Dockerfile https://github.com/openSUSE/docker-containers/blob/1f11a28efb0b2ea3d2701e32952192f728a1b0bb/derived_images/portus/Dockerfile

which installs ``http://download.opensuse.org/repositories/Virtualization:/containers:/Portus/openSUSE_Leap_42.3/x86_64/portus-2.3.0~dev+git03e0e1181be24e02d6f764f3384422c22e6a299c-12.2.x86_64.rpm``

Once the co

[2017-09-11 11:50] arno01 commented on #1415
Looks like I was missing to set the ``RAILS_SERVE_STATIC_FILES: 'true'`` as per https://github.com/SUSE/Portus/blob/4e4329b08d4ffdd4ac52398fdee235b7a6620faf/examples/compose/docker-compose.yml#L26

Thanks @Evalle for pointing me to this :-)

I will give it a try and report in.

[2017-09-11 17:31] arno01 commented on #1415
That is it, everything is working like a charm :-)

Thank you.

[2017-09-11 17:31] #1415 closed

[2017-09-12 07:20] phasenohr commented on #1408
I performed some further tests and the issue is not linked to an upgrade even with a completely fresh install, the same issue appears.
I set up  distribution/registry:2.6.2, a new mariadb 10.1 db and a new opensuse/portus:head retrieved yesterday (11/09/2017) with the configuration posted previously and I could experience exactly the same behaviour: I can push an image to the registry within a spe

[2017-09-12 14:54] mssola commented on #1414
Thanks for digging into this 👏

[2017-09-12 14:56] mssola opened #1418 "The Docker image and the RPM package are broken due to recent commits"
Recent commits have:

- Upgraded large number of gems.
- Raised to requirement to ruby 2.3

Due to this, packaging is currently broken, and this affects also the Docker image (behaving in weird ways...)

We are working to fix this situation.

[2017-09-12 14:59] mssola commented on #1408
Hi @phasenohr, I believe this is related to #1418. We are working on it. After fixing that issue I'll check if this fixes your situation as well. Sorry for the inconvenience 😞

[2017-09-12 14:59] mssola commented on #1393
Hi @vagharsh , I believe this is related to #1418. We are working on it. After fixing that issue I'll check if this fixes your situation as well. Sorry for the inconvenience 😞

[2017-09-12 15:01] mssola commented on #1418
Issues affected by this situation are #1408, #1393 and #1388.

Once this issue is fixed I'll go back to those issues and check if this is fixed there as well.

[2017-09-12 15:03] mssola commented on #1388
Hi @generationtech. Sorry for taking so long to reply back (you got me on my vacations and then I was caught up with other high pressing issues...).

Regarding your issue, this is a known one (I just created #1418 to track all the duplicates). The current pipeline is broken due to quite some upgrades on gems and ruby. This is to be expected for `opensuse/portus:head`, but as you are mentioning thi

[2017-09-12 15:06] mssola commented on #574
I believe this issue is no longer valid since the new images were created. Check the `examples` directory for usages of the new Docker image (but mind the current #1418 issue...).

[2017-09-12 15:06] #574 closed

[2017-09-12 15:10] mssola commented on #1386
This is a duplicate of #1418. I'll come back to this once that issue is fixed. Sorry for the inconvenience... 😞

[2017-09-13 14:52] phasenohr commented on #1408
Hi @mssola , thanks for your support!

[2017-09-14 06:28] Vad1mo opened #1420 "In Repositories the [Previous,1 ,2, N and Next] Pagination link doesn't work (exist)"
The Previous, Next  and 1,2,3 pagination isn't working on repositories. I only tried repositories maybe its also not working in other views.

Not sure if this was already addressed, if so please close.

[2017-09-14 12:31] osallou opened #1421 "Invalid URL access using sub-prefix"
Hi,
I am using docker-compose for a dev environment, and set in portus service RAILS_RELATIVE_URL_ROOT=/portus
it is installed behind a nginx proxy proxying /portus to the portus container/port with prefix /portus

I can  access and log to the application.
However, in namespaces, I see some requests to http://myapp/namespaces.json , which fails as it is not prefixed with /portus/namespaces.json

A

[2017-09-14 12:36] vitoravelino commented on #1421
It is a bug. Thanks for reporting! I'll try to include the fix on #1416 since it will require some client sides updates.

[2017-09-14 12:41] osallou commented on #1421
in the meanwhile, as it is for dev, is there any patch or release tag I should use?

[2017-09-15 10:40] mssola opened #1422 "Show architecture information"
From docker-library/official-images#2289, we should show information on the architecture of images and tags.

[2017-09-18 13:38] #1421 closed

[2017-09-18 13:39] vitoravelino commented on #1421
@osallou Please try again and let us know if you are still facing any issue. Thanks!

[2017-09-18 15:23] osallou commented on #1421
after getting latest code, I confirm that namspace url is correct with rails_root_url
Thanks

[2017-09-19 14:16] mssola commented on #1027
Everything has already been done or it's available on PRs/issues.

[2017-09-20 04:25] inventionlabsSydney commented on #1407
Those who encounter this issue: per #1386 editing your docker-compose and replacing `image: opensuse/portus:head` with `image: jordanjennings/portus:head-working` is a temporary work around whilst we wait for the fix.

-Karl.

[2017-09-20 12:50] osallou opened #1426 "namespace prefix issue"
A previous fix fixed the namspace URL issue when using a prefix.
There is still a problem in Web UI where links to namaspaces are not relative (/namespace/X), removing the expected prefix

![screenshot from 2017-09-20 14-48-17](https://user-images.githubusercontent.com/1024098/30644539-f6ac14a4-9e12-11e7-87bc-ebd4ab0cf7fe.png)

[2017-09-20 14:08] vitoravelino commented on #1426
You are right again. I fixed this without noticing while I was working on #1416. Hopefully this will be on master until Friday, otherwise I'll submit an isolated patch for this.

Thanks for reporting and sorry for the inconvenience!

[2017-09-20 14:25] osallou commented on #1426
no problem , can manage with proxy rules in the meanwhile

[2017-09-21 11:25] #1426 closed

[2017-09-21 11:34] vitoravelino commented on #1426
@osallou The fix was merged. Try again and let me know if it worked or not.

[2017-09-21 11:57] osallou commented on #1426
fix tested and OK!

[2017-09-22 09:20] andrey01 opened #1428 "SUSE/Portus 2.2 Cross Site Scripting"
As per https://packetstormsecurity.com/files/144260/suseportus22-xss.txt

----
SUSE/Portus version 2.2 suffers from a persistent cross site scripting vulnerability.

Class  Input Validation Error
Remote  Yes
Stored Yes

Credit rsanchezr
Vulnerable SUSE/Portus 2.2 - https://github.com/SUSE/Portus

Portus 2.2 is prone to a cross-site scripting vulnerability because it
fails to sufficiently sanitize

[2017-09-22 10:14] niuhp opened #1429 "install&run"
how can i install and run portus with the Official  images in  https://hub.docker.com/r/opensuse/portus/

[2017-09-22 11:22] niuhp opened #1430 "must ssl？"
i don’ want use https to visit portus，how can i config？？i run portus with docker-compose.insecure.yml of the master branch

when i visit the addr，i get

Please review your configuration
SSL
For security reasons you need to use SSL. SSL is not configured, please review your server configuration.

[2017-09-25 10:52] Evalle commented on #1429
Hi @niuhp you can take a look at examples of howto run Portus here https://github.com/SUSE/Portus/tree/master/examples

[2017-09-25 11:00] Evalle opened #1433 "Portus doesn't support health checks"
Hi, guys,
I tried to run **ping** and **health** checks against my Portus instance (_opensuse/portus:head_ docker image):
- ping check works just fine:
[code]
- but health check doesn't work:
[code]
basically, it returns the 'Oh no! Something's wrong with our lighthouse.' page. Should we wait for the implementation of health check in the future or am I doing something wrong?
Thank you for your ans

[2017-09-25 18:55] italojs commented on #1230
rename your image to username/image-name
 docker tag your-current-image/current-image dockerhub-username/some-name:your-tag(example: latest)

[2017-09-25 22:39] attritionorg commented on #1428
LIkely https://github.com/SUSE/Portus/pull/1425 fixed by https://github.com/SUSE/Portus/commit/a8d94adefcdf9a969c0391490d53c7e159c5fb40?

[2017-09-26 07:24] mssola commented on #1430
This is because the `check_ssl_usage` config option is enabled by default (see the [the documentation](http://port.us.org/docs/Configuring-Portus.html#enforce-ssl-usage-on-production)). In your case, it should be a matter of setting the following env. variable: `PORTUS_CHECK_SSL_USAGE_ENABLED` to false.

That being said, for these kinds of questions you can use our [mailing list](https://groups.go

[2017-09-26 07:24] #1430 closed

[2017-09-26 07:28] mssola commented on #1429
That being said, the current `head` version is broken due to #1418. For now you can use a backup that I have at `mssola/portus:susecon`. It's a bit old, but it works. I'll mark this as a duplicate of #1418, and ping you back once this situation is fixed.

[2017-09-26 21:00] senorsmile opened #1435 "Waiting for mariadb to be ready in 5 seconds"
NB: All domains and other proprietary information has been changed below.

I have set up the containers using docker-compose, customized with some temporary passwords and our own ssl certs.

I notice that everything is up in docker, but nginx gives the following error:

[code]

Looking at the logs, I see a db error:

[code]

entered the container and verified things look ok:

[code]

Looking at th

[2017-09-26 21:06] Vad1mo commented on #1435
Try setting  `export COMPOSE=1`

See here for the details: `../Portus/config/database.yml`

[2017-09-26 21:11] senorsmile commented on #1435
Aha!

It looks like I'm not in the production environment.  How do I activate that?

[2017-09-26 21:29] Vad1mo commented on #1435
export `RAILS_ENV`and `RAKE_ENV`to be sure for the cli.

[2017-09-26 21:43] senorsmile commented on #1435
I set those to no avail.

I entered the container to verify the environment variables are set:

[code]

but get the exact same error:
[code]

[2017-09-26 22:18] Vad1mo commented on #1435
What are you trying to run the master branch or an existing docker image?

on master try with the prefix `PORTUS`, e.g. `PORTUS_PRODUCTION_HOST` and so on. see `../Portus/config/database.yml`

[2017-09-26 22:28] senorsmile commented on #1435
I'm trying to bring portus up for the first time.  I'm not sure if I've found a bug or not.  I'm quite familiar with docker and docker-compose as we deploy many of our applications via docker.

I've copied this dir: https://github.com/SUSE/Portus/tree/master/examples/compose
and customized the .env and docker-compose.yml to reflect my desired production environment.

The PORTUS_PRODUCTION_* is alr

[2017-09-26 22:42] Vad1mo commented on #1435
What are you trying to run the master branch or an existing docker image?

the current master has a different setup then previous images.

[2017-09-26 22:44] Vad1mo commented on #1435
also take a look here #1429

[2017-09-26 22:49] senorsmile commented on #1435
Ahhh!  I see another user with the same exact errors as what I'm seeing linked to https://github.com/SUSE/Portus/issues/1418.

I'll try out the image at mssola/portus:susecon.

Is there any plan to lock the images on hub.docker.com instead of rebuilding them every day?  It would be nice to have a stable e.g. 2.0, even if that image was built a year ago.  This is what the official images do.

E.g.:

[2017-09-26 22:53] senorsmile commented on #1435
I actually tried head and the db migrations are succeeding!

[2017-09-27 12:36] mssola opened #1436 "portusctl: be more clever on certificate generation"
It should be able to detect whether a proper certificate is available, and if so consume it. Otherwise it can proceed as usual. On all this process there should be a prompt just to not mess with the current situation.

[2017-09-27 15:46] vitoravelino opened #1437 "Normalize API error responses"
Currently we have the following formats:

[code]

We need to make the values more consistent.

[2017-09-28 03:12] jinghuaz opened #1438 "not dispaly Repository tag information"
I use version:
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
opensuse/portus     head                f4e0b921f9a6        8 days ago          225MB
registry            2.6                 be7805d0983f        8 days ago          33.2MB
nginx               alpine              4016750e2b21        2 weeks ago         15.5MB
mariadb             10.0.23

[2017-09-28 11:29] albertoig opened #1439 "Docker compose secure example does not change config.yml correctly"
I am working with portus with docker-compose in a production environtment. I had to change config.yml from portus container the url to get it correctly and login with docker login.

[2017-09-28 11:37] albertoig commented on #1230
I have this issue too

[2017-09-28 17:14] vitoravelino commented on #1420
@Vad1mo Do you mean in `/namespaces/:id` or `/repositories`?

[2017-09-28 19:33] Vad1mo commented on #1420
In /repositories/ it is.

[2017-09-28 20:37] vitoravelino commented on #1420
From what I could see there's no pagination there. So I guess "pagination doesn't exist" is more suitable than "not working" in the title, right?

[2017-09-28 21:55] vitoravelino commented on #1420
Thanks, @Vad1mo!

[2017-09-29 13:49] ArcticSnowman commented on #801
@mssola @flavio  - Any update on when this feature might get into a release?

[2017-09-29 19:31] reysillo opened #1440 "SSMTP support"
Please add SMTPS for Portus Email Options

[2017-10-02 12:32] vitoravelino opened #1442 "ux: change the namespace visibility from the show page"

[2017-10-03 22:55] sharksforarms commented on #1418
Just found this after some head-aches... Having the same problems as #1386
Is there a working image somewhere?

[2017-10-04 07:39] #1113 closed

[2017-10-04 12:27] #1420 closed

[2017-10-04 20:23] rbryn opened #1445 "unable to connect to exsiting mariadb instance"
image: opensuse/portus:2.2
Docker version: 17.06.1-ce

I'm trying to get portus up while using an existing mariadb instance. For some reason I can't seem to get it to connect to an externally defined db.  All I get is the message "Waiting for mariadb to be ready in 5 seconds"

I've confirmed my variables that are posted in the image and confirmed access from portus to the db by telneting to port 3

[2017-10-05 10:35] Martin-Weiss opened #1447 "Would it be possible to add access control for the global namespace?"
At the moment it seems that only admin users can push to the global namespace - but we do not want to make the persons who should maintain the global namespace admins.. So is there any way how to adjust the rights on the global namespace to control which user / group / team can push there?

[2017-10-05 13:49] rbryn commented on #1445
Solved this one... in the image: opensuse/portus:2.2 it's using the following in the database.yml

`  adapter: mysql2
  encoding: utf8
  host: <%= ENV['MARIADB_SERVICE_HOST'] %>
  username: <%= ENV['MARIADB_USER'] %>
  password: <%= ENV['MARIADB_PASSWORD'] %>
  database: <%= ENV['MARIADB_DATABASE'] %>`

If I change my env variables to use those, everything works.  appears to be a mismatch in the d

[2017-10-06 09:56] nenadalm commented on #1230
same issue

[2017-10-06 12:51] Amiiya opened #1448 "Push fails after successful docker login: denied: requested access to the resource is denied"
Hello!

I did the Portus-Setup from the branch v2.3 with the command `./compose-setup.sh -e 127.0.0.1`. It suceeded and i followed the steps.

1. I created an admin account via 127.0.0.1:3000
2. I set the registry with the hostname **portus_registry_1:5000** without SSL. Because 127.0.0.1:5000 wouldn't work.
3. I made sure that 127.0.0.1:5000 is listed under the insecure registries (see docker inf

[2017-10-06 14:09] #1269 closed

[2017-10-09 09:47] nenadalm commented on #1448
I have same issue when trying to run example from master version (https://github.com/SUSE/Portus/blob/13728533664f8b9a182adbf7f8fb1df4f2275c08/examples/compose/docker-compose.yml)

I just updated changed image in the compose file to `jordanjennings/portus:head-working` because of https://github.com/SUSE/Portus/issues/1386

[2017-10-09 10:10] Amiiya opened #1449 "SSL required in docker-compose.insecure.yml"
Hello!

Relating to this issue: https://github.com/SUSE/Portus/issues/1430 .
I ensured that the environment variable `PORTUS_CHECK_SSL_USAGE_ENABLED` in docker-compose.insecure.yml is set to `false`.
But when setting it up it still shows the same error.
[code]
Is this a bug or am I supposed to change the variable somewhere else too?

Kind regards,
Amiya x

[2017-10-10 11:05] mssola commented on #1449
Hi @Amiiya, thanks for reporting. I'm sure this is a duplicate of #1418. For now you can use `mssola/portus:susecon` until we get it fixed (which should happen rather soonish)

[2017-10-10 13:51] mssola commented on #1433
That's weird... It works for me in current master... (note that the `opensuse/portus:head` image is currently broken, so you might be using an old one). Could you provide more information. What do the logs say about this ? Any stack trace ?

[2017-10-10 13:52] mssola commented on #1445
Oh, that's probably something worth mentioning on the documentation, because this has changed from 2.2 to master (and the documentation is talking about the current env variables from master...)

[2017-10-10 13:56] mssola commented on #1440
Could you elaborate on this ? Isn't that already possible with Portus ?

[2017-10-10 13:58] mssola commented on #801
@ArcticSnowman it won't be released in 2.3 for sure (we are already in code freeze..). We still have to prioritize 2.4. I'll add it on the milestone and re-evaluate it once we plan for 2.4 😉

[2017-10-10 14:04] mssola commented on #1435
@senorsmile

Yes and no. Our images are based on RPMs and [OBS](https://build.opensuse.org/). This way we can guarantee that fixes and security patches are always present on the images we deliver. We are already working on how we can mitigate these kinds of issues. Sorry for all the trouble...

I'm also going to close this issue since we are already tracking the image issue, and your issue seems t

[2017-10-10 14:04] #1435 closed

[2017-10-10 14:05] mssola commented on #1428
Fixed and already delivered to 2.2.

[2017-10-10 14:05] #1428 closed

[2017-10-10 14:11] mssola commented on #1438
I'm not sure I understand your problem. In Portus 2.2 you cannot get more information on each tag, and in master you can only get CVE information of each tag if you have security scanning enabled.

Can you be more exact on what tag information you want to see ?

[2017-10-10 14:20] mssola commented on #1418
@sharksforarms try `mssola/portus:susecon` for now. It's a master image from 1 month ago iirc.

[2017-10-10 14:21] mssola commented on #1448
Note that v2.3 is currently not being used (once we fix the whole packaging mess we'll turn to that). That being said, you seem to hit a problem from #1418. I'll set this as a `duplicate` and re-visit this once that is fixed.

Sorry for all the trouble...

[2017-10-10 14:25] mssola commented on #1447
Anyone that "maintains" is an admin, no ? 😉

No, you have to be admin in order to write and administer the global namespace. Note that the global namespace is quite special, and only a handful of people should be able to write into that. What's your use case ? And what's your recommended workflow to fix your use case ?

[2017-10-10 14:27] mssola commented on #1439
Can you tell me whether this works when using `mssola/portus:susecon` ? If so, then you are hitting #1418 (which is the most probable cause).

[2017-10-10 14:35] ArcticSnowman commented on #801
@mssola Many thanks for you and the teams hard work on this...

[2017-10-10 18:41] bosr commented on #1449
Thank you @mssola !

[2017-10-13 09:51] e311043 commented on #1005
Hi all

I have the same problem on centos 7.
Push step OK
but I can not see my images in Portus

log registry

2017-10-13T09:37:33.981195000Z time="2017-10-13T09:37:33Z" level=warning msg="httpSink{https://registry.infa.fr/v2/webhooks/events} encountered too many errors, backing off"
2017-10-13T09:37:34.989905000Z time="2017-10-13T09:37:34Z" level=error msg="retryingsink: error writing events: htt

[2017-10-13 13:11] Martin-Weiss commented on #1447
Unfortunately not - some people should manage the users and teams and namespaces - some others should push images. These are not the same persons.

The challenge is that the admin can do much  more than just upload to the global namespace.
We need a person that can only upload to the gobal namespace and can not do all the other administrative things within portus..

So similar to the rights manage

[2017-10-13 19:49] vitoravelino commented on #1028
I guess this is not a valid bug anymore, so I'm closing it.

[2017-10-13 19:49] #1028 closed

[2017-10-14 20:07] vitoravelino commented on #1278
@Seb-Solon Do you mind to try #1452 and let me know how much time it took on your database?

The improvement seems considerable but I'm not sure about how it performs with a huge table like yours.

Thanks!

[2017-10-15 08:53] #1355 closed

[2017-10-15 10:44] vitoravelino commented on #1009
Is this issue still valid, @mssola? Currently, in the repositories page we don't show any tag, the user needs to go to the repository specific page. I know that there's an error reported but the latest version at this moment was 2.0.5.

[2017-10-15 14:10] Seb-Solon commented on #1278
Hi there,

Sorry, I didn't answer on that because I don't have access to the instance anymore. 😢
Maybe @djsly can help on the issue or give you insights.

By the way, any improvements / fixes on the portus crontab part may be relevant to the issue as it could be a "mix" of those 2 factors ( crontab generating rows and query not optimized).

[2017-10-15 14:22] vitoravelino commented on #1278
Thanks anyway, @Seb-Solon! 😃

[2017-10-16 13:44] Amiiya opened #1453 "Clair security scan: the parent layer is unknown"
I finally got Portus to run. But using the vulnerability scanner isn't working like it supposed to be.
I definied Clair via `PORTUS_SECURITY_CLAIR_SERVER: http://${MACHINE_FQDN}:6060` and it seems to work without a problem.
Pushing it works fine but in the UI it says that there are 	0 vulnerabilities found.
If I analyze my images locally it works fine..

[code]

While accessing the UI, Clair is th

[2017-10-17 03:29] osallou opened #1454 "pagination not working"
Hi,
in my install from source, pagination is not working. What is strange is my container contains only 8 tags but page tells me there are 3 pages (for only 8 ? why not). But when I click on "next" or page 2 or 3, nothing  happens., I remain on page 1. no network message nor console error as you can see in screenshot
![portus](https://user-images.githubusercontent.com/1024098/31645404-307b9418-b2f

[2017-10-17 10:29] vitoravelino commented on #1454
I'm working on it! I forgot to update this component after I refactored the pagination on the other pages. Thanks!

[2017-10-18 08:13] mssola opened #1456 "Fix deprecation warning on date format"
When running all tests, some of them report the following deprecation warning:

[code]

I've also seen this on the JS console of my browser on some pages (I don't recall which one exactly...).

[2017-10-18 10:40] #1454 closed

[2017-10-18 10:41] mssola opened #1457 "Add keybindings to paginated tables"
I'm thinking that some keybindings could be worth it for paginated elements. For example:

- Right arrow for next page.
- Left arrow for previous page.

[2017-10-18 11:56] #1351 closed

[2017-10-18 16:40] reysillo commented on #1440
Thanks, please check https://en.wikipedia.org/wiki/SMTPS, I use a smtp provider that requires to activate SSL option on 465 port. I can't find a way to setup SSL active on current Portus configuration options

[2017-10-19 11:51] mssola opened #1459 "Improve the search backend"
Full text support was disabled almost instantly when we added search support. We could use other tools, like elasticsearch, etc. Bottom line: we can do much better.

This issue is here as a reminder to do some research on this topic and eventually come up with a good solution.

[2017-10-19 12:06] Vad1mo commented on #1459
Hmmm, ES is a big fish, I am not sure if it is really needed for Portus as we haven't any real "full text" content.  We only have image names.
I think with MySQL and Postgres Full Text Search capabilities we can cover a lot of cases out of the box.

https://mariadb.com/kb/en/library/full-text-index-overview/
https://www.postgresql.org/docs/9.5/static/textsearch-intro.html

[2017-10-19 14:16] mssola commented on #1440
The title says SSMTP but then in your second commend you mention SMTPS, I guess it's the later 😕  ?

For the port, you have the the `email.smtp.port` configuration option. Moreover, for SSL, we have the `enable_starttls_auto` set to true if you provide the `email.smtp.user_name` configuration option. The only thing missing that we can configure from Rails' side is `openssl_verify_mode`, and I beli

[2017-10-19 14:22] Vad1mo commented on #1440
We use postmarkapp that supports SMTP with SSL/TLS or as you say SMTPS.

It works fine, make sure you have the latest ca-certs installed.

[2017-10-20 08:13] mssola opened #1461 "Document database status"
Document how to pick either MariaDB or PostgreSQL, environment variables, etc. Also, what you need in order to build the different gems.

[2017-10-20 08:51] mssola opened #1462 "Add peek into the development environment"
The [peek](https://github.com/peek/peek) gem provides a framework of utilities that can come in handy to check the performance of various components. This can be useful 👍

[2017-10-20 09:32] mssola commented on #1024
Delaying to 2.4 because we don't have the time for this (we are already on code freeze)

[2017-10-20 09:37] mssola commented on #1273
We are in code freeze. Delaying to 2.4...

[2017-10-20 11:51] #580 closed

[2017-10-20 14:20] mssola opened #1464 "Re-purpose portusctl"
We want to re-purpose `portusctl` so it's more usable for containerized setups. The proof-of-concept #1403 is a good example of this.

We will take into account the following issues: #458, #611, #704, #747, #1436.

[2017-10-20 14:22] mssola commented on #780
This is no longer relevant due to how we are going to release Portus as of now.

[2017-10-20 14:22] #780 closed

[2017-10-20 14:23] mssola commented on #458
Closing because of #1464

[2017-10-20 14:23] #458 closed

[2017-10-20 14:24] mssola commented on #611
Closing in favor of #1464.

[2017-10-20 14:24] #611 closed

[2017-10-20 14:25] mssola commented on #704
Closing in favor of #1464.

[2017-10-20 14:25] #704 closed

[2017-10-20 14:25] mssola commented on #747
Closing in favor of #1464.

[2017-10-20 14:25] #747 closed

[2017-10-20 14:26] mssola commented on #757
This is not relevant anymore. Closing (see #1464 for the portusctl part).

[2017-10-20 14:26] #757 closed

[2017-10-20 14:27] mssola commented on #757
See [the official docker image](https://hub.docker.com/r/opensuse/portus/).

[2017-10-20 14:28] mssola commented on #1436
Closing in favor of #1464.

[2017-10-20 14:28] #1436 closed

[2017-10-21 01:06] curx opened #1465 "docker-compose cmd failed on example/compose files, yaml scanner errors"
Since commit #1093 the example/compose docker-compose files are broken:

if i try to bring up the services via `docker-compose`, this error occurs:
(docker-compose version 1.7.1, build 0a9ab35)

ERROR: yaml.scanner.ScannerError: while scanning a simple key
  in "./docker-compose.yml", line 14, column 7
could not found expected ':'
  in "./docker-compose.yml", line 16, column 7

[2017-10-23 11:37] mssola opened #1468 "Improve the default robots.txt file"
We have not touched the `robots.txt` file, and we should provide some useful defaults.

[2017-10-23 14:18] rikkuness commented on #1262
Just experienced this myself, lots of cases of the crono process throwing exceptions on a CatalogJob trying to `INSERT` both `LATEST` and `latest` etc.

[2017-10-23 15:11] mssola opened #1469 "Split the routes file"
The `config/routes.rb` file is a bit of a mess. It would be convenient to split it into different route modules that can be used afterwards in the `config/routes.rb` file with the `draw` method.

[2017-10-23 16:23] anand1248 commented on #1468
Can I work on this issue?

[2017-10-23 16:34] mssola opened #1470 "Raise exception on migrate.rake"
There are some deprecated methods since last version. Preparing for 2.3, we should either remove this methods, or raise a proper exception with info for this release.

[2017-10-23 16:35] mssola commented on #1468
Sure!

[2017-10-23 16:41] mssola commented on #600
Closing since this is no longer relevant.

[2017-10-23 16:41] #600 closed

[2017-10-23 16:44] mssola commented on #777
This has already been fixed. You can now create use whatever user name you want.

[2017-10-23 16:44] #777 closed

[2017-10-24 07:26] #1465 closed

[2017-10-24 15:12] mssola opened #1473 "Raise an exception for environment variables that have changed"
Some environment variables (e.g. some on the DB configuration) have changed of name. We should add some checks in `config/initializers/environment_check.rb`.

[2017-10-25 08:13] #1470 closed

[2017-10-25 12:40] #1105 closed

[2017-10-25 12:40] #1461 closed

[2017-10-25 13:09] mssola commented on #1009
Agree with @vitoravelino. Re-open this issue if this is still valid in master. Thanks for reporting 👍

[2017-10-25 13:09] #1009 closed

[2017-10-25 13:10] mssola commented on #728
Closing since no further information was given. Please re-open with more details if you can still reproduce this on latest master. Thanks for reporting 👍

[2017-10-25 13:10] #728 closed

[2017-10-25 13:15] mssola commented on #1285
@bweston92 sorry for not getting to you sooner. Note that this option is under the `registry`:

[code]

[2017-10-25 13:32] rikkuness opened #1477 "Trusted header authentication backend"
Just wanted to open this up to discussion, what is the consensus on adding trusted headers as an authentication strategy? This would open up some options and allow for example nginx to do client certificate checks and set headers with user details or allow more complex user checks to be offloaded to the proxy layer.

[2017-10-25 13:38] mssola commented on #1051
Closing this then.

[2017-10-25 13:38] #1051 closed

[2017-10-25 13:56] #1285 closed

[2017-10-25 18:07] aleksystasiak opened #1479 "Ability to bulk delete images in registry"
I know this was mentioned numerous times. But this functionality is crucial for me.
Last year I started to test portus in test environment, at the time portus was only solution providing features like access rights management, ldap integration not to mention beautiful frontend.
I've had some trouble on the way but managed to overcome them. Now I'm hitting brick wall.
Testing environment became dev

[2017-10-25 18:27] pbabilas commented on #1479
The same problem here, no authentication available in portus no tool to delete images automaticly. Any idea how to work with not enough disk space?

[2017-10-25 18:51] aleksystasiak commented on #1479
In my case it's a  bare metal setup based on 2.2 portus rpms on OpenSuse

[2017-10-26 07:21] mssola commented on #1479
That's an interesting topic, and I can relate to this problem... Now the goal of this issue would be how to tackle it in a pragmatic way 🤔

So, on the top of my head, what I'm thinking is that in the current repositories page (we've recently added a page where all images/tags are listed) you could have a way to filter them in various ways: namespace they belong to, associated team, push time, etc.

[2017-10-26 07:24] pbabilas commented on #1479
The best way would be create job that will do it for me - any cron that will take all tags by date and delete it. If we have 5k tags selecting it and deleteing manualy will be problematic also :( but better than selecting one by one ;)

[2017-10-26 07:38] mssola commented on #1477
Do you have something in mind 😃 ? For now we have worked on a REST API that authenticates through headers: you have to set the `PORTUS-AUTH` header like this: `username:authentication-token`. But you are talking about certificates and such, so what do you have in mind ?

[2017-10-26 07:40] mssola commented on #1479
Oh, so you are thinking more on a background process that cleans up images that meet certain conditions ? That's an interesting idea.

@aleksystasiak what do you think ?

[2017-10-26 07:53] aleksystasiak commented on #1479
@mssola
This is exactly what I'm looking for

[2017-10-26 08:41] aleksystasiak commented on #1479
While frontend addition enabling filtering images for deletion would be nice, at some point you will have to o many images/tags to handle this manually

[2017-10-26 08:58] vitoravelino commented on #1479
This could go as an admin setting like `Automatically remove repositories older than` and a few options like `Disabled`, `6 months`, `1 year`, `2 years`, etc.

Besides this, I think we should also prioritize the ability to manually delete repositories and namespaces.

[2017-10-26 09:02] aleksystasiak commented on #1479
I don't want to delete whole repositories, I would rather like to keep image quantity in check by periodically removing older ones.

[2017-10-26 09:11] pbabilas commented on #1479
Exactly right, automatic settings would be great but not whole repository but tags older than!

[2017-10-26 09:12] vitoravelino commented on #1479
Sorry my confusion then. Rephrasing... `Automatically remove tags older than`.

[2017-10-26 09:24] mssola commented on #969
Closing this since no further action has been done. I can confirm that this issue is not reproducible in master.

[2017-10-26 09:24] #969 closed

[2017-10-26 09:25] Vad1mo commented on #1479
We could write a croned frontend for https://github.com/fraunhoferfokus/deckschrubber.

It would be an API wrapper where Portus would send config changes and updates to a running deckschrubber.  Another option would be where we would define the things from deckschrubber in Portus and let the Registry GC do the rest.

[2017-10-26 10:19] aleksystasiak commented on #1479
So option 1 will only work for compose based docker setup ?

[2017-10-26 10:30] Vad1mo commented on #1479
yes, Isn't everyone using a compose/k8s like template setup?

[2017-10-26 10:33] aleksystasiak commented on #1479
Apparently not, I'm using rpms

[2017-10-26 10:37] rikkuness commented on #1477
So the primary use case for me is client certificate authentication to Portus itself, the user still uses a password to `docker login` using application tokens or whatever.

I've seen things in Apache that fake basic auth by doing the client authentication first and then creating a header, but in this case it would need to look up a valid token/password for the user from Portus.

I'm proposing an

[2017-10-26 10:56] Vad1mo commented on #1479
A compose setup would make life easier for many, as we could add more and more features as containers. Clair is already there. Next one could add automated build like hub.docker

[2017-10-26 11:02] mssola commented on #906
Closing this since no further discussion was done. But, if during the investigation of this registry issue you found out that there's something wrong with how Portus handles this, please re-open this same issue 😃.

Thanks for this 👍

[2017-10-26 11:02] #906 closed

[2017-10-26 11:04] mssola commented on #798
A lot has happened meanwhile and I believe this issue is no longer relevant in master. If it is, please re-open this issue, or we can proceed this discussion in our mailing list. Thanks for the feedback 👍

[2017-10-26 11:04] #798 closed

[2017-10-26 11:05] mssola commented on #791
Closing this since no further action was done. If you are still facing issues in master, please consider opening a new issue with the exact details. Thanks 👍

[2017-10-26 11:05] #791 closed

[2017-10-26 13:52] #939 closed

[2017-10-26 14:01] mssola commented on #946
This should not happen anymore, the docker-compose setup and Portus in general has changed a lot and I cannot reproduce this in current master. So, I'm closing this issue, but feel free to re-open it if you can reproduce this with current master. Thanks 👍

[2017-10-26 14:01] #946 closed

[2017-10-26 14:05] rikkuness opened #1482 "JS Polyfills Offline"
I'm currently running Portus in a disconnected environment and experiencing some client side weirdness that I think is down to a lack of the polyfills loaded from https://github.com/SUSE/Portus/blob/master/app/views/layouts/application.html.slim#L33 as I've got no connection to polyfill.io. Is there a way we can build some of the required polyfills in or does it specifically
 require the browser d

[2017-10-26 14:12] mssola commented on #1479
deckschrubber looks like a good candidate, but I disagree that this would only work for docker-compose, it could very well be a separate process like any other...

That being said, I guess that this only works for registries with no authorization in place, no ? How does deckschrubber handle the whole authentication part ?

If we can workaround this, then nothing would have to be done from the Port

[2017-10-26 14:21] vitoravelino commented on #1482
Sure. It totally makes sense to keep things offline. That was the simplest and fastest way I found to provide a fallback to some js features. I'll investigate and see what I can do. Thanks for the suggestion! 😄

[2017-10-26 15:29] wedun opened #1483 "Portus production error"
Hello.
I try to use insecure compose example and got error
`Access denied for user 'root'@'172.18.0.4' (using password: YES)`
Full log in attach.
Could you please help me with this error.
[error..txt](https://github.com/SUSE/Portus/files/1419216/error.txt)

[2017-10-26 17:50] aleksystasiak commented on #1479
Unfortunately it supports only basic auth by passing username and password parameters.
I would never create this issue before exploring all available tools.

[2017-10-26 20:57] Vad1mo commented on #1483
Can confirm, one need to change

`Crono.perform(CatalogJob).every value`to
`Crono.perform(CatalogJob).every value.seconds` in crontab.rb

[2017-10-26 22:23] Vad1mo opened #1486 "Registry reachability tests are failing"
On latest master the registry reachability test is always indicating that the registry is not reachable even though login/push/pull is working just fine.  Of what does the Reachable test consists?

The tooltip error is: something went wrong check your configuration

Logs:

[code]

[2017-10-26 22:47] Vad1mo opened #1487 "Rename Global Namespace and Team"
For consistency and similarity to hub.docker.com we should rename the `portus_global_namespace_1` and `portus_global_team_1` to **_** or *library* as it is also called.

I personally wouldn't use library as many of us have different associations with that name.

[2017-10-26 23:10] Vad1mo commented on #1486
One more thing, when the registry is indicated as broken it doesn't safe any changes.

There is a **Skip remote checks** message but no checkbox.
`Error: something went wrong. Check your configuration. You can skip this check by clicking on the "Skip remote checks" checkbox.`

[2017-10-26 23:12] Vad1mo commented on #1479
yes, thats right, however in a compose config it would be more transparent and wouldn't need special scripting/systemd treatment.

You are right I am looking through the code and can't find anything about  auth.

yes this would be ideal. I try to create a solution that we can plugin into portus or that runs as a sidecar next to portus.

btw. here is another tool that does similar things but is les

[2017-10-27 10:19] vitoravelino commented on #1486
Are you sure? Because Travis [shows green](https://travis-ci.org/SUSE/Portus/builds/293162202).

[2017-10-27 14:12] #1483 closed

[2017-10-27 14:12] mssola commented on #1483
Fixed, sorry for the trouble...

[2017-10-28 02:37] raghu999 commented on #1262
+1 Experienced the same

[2017-10-29 16:04] salzig commented on #1473
Is there any variable i missed?

[2017-10-30 08:27] Vad1mo opened #1491 "Not possible to change Display Name or email"
When the **Display Name** option is enabled, it is not possible to change/set the display name unless you also change your e-mail. It is also not possible to change the email without changes the display name.

[2017-10-30 08:29] mssola commented on #1473
I think that was everything, thanks for this 👍

[2017-10-30 08:29] #1473 closed

[2017-10-30 10:53] #1482 closed

[2017-10-30 11:15] mssola commented on #1491
I can also reproduce this. Moreover, this is only due to how we enable the `Update` button: we can update either of these attributes independently from the API for example.

[2017-10-30 11:40] Vad1mo commented on #1486
I a pretty sure I tried two different scenarios in prod and localy

for local development I don't run portus in a container so I have portus on :3000 and registry on :5000

[code]

[code]

In prod setup, the behaviour is the same.

[2017-10-30 11:43] vitoravelino commented on #1486
What's the response for the `validate` endpoint?

[2017-10-30 11:44] Vad1mo commented on #1486
[code]

In browser:
[code]

[2017-10-30 11:46] vitoravelino commented on #1486
So, it's valid. That's the expected behaviour since `127.0.0.1:5000` is reachable. The button should be fine and not message appear. I didn't get your point. 😕

[2017-10-30 11:50] Vad1mo commented on #1486
Thats the point, From the api point of view all is fine, however the UI is displaying this:

![bildschirmfoto 2017-10-30 um 12 48 46](https://user-images.githubusercontent.com/1492007/32169437-bd5287ec-bd70-11e7-96c4-bafd90c0204a.png)

also when I skip the checks, it stays forever like this:

![image](https://user-images.githubusercontent.com/1492007/32169486-f74dec70-bd70-11e7-98bd-bc9572f85139.p

[2017-10-30 11:53] vitoravelino commented on #1486
`Registry does not implement v2 of the API.` That's why you are getting the error. Not because it isn't reachable.

[2017-10-30 11:56] Vad1mo commented on #1486
The check doesn't know if it is V2 or not.  see: `registry.rb`
[code]

[code]

[2017-10-30 12:07] vitoravelino commented on #1486
@Vad1mo, gotcha. Could you print what `r` is?

@mssola, maybe this code is deprecated now and we need to update it?

[2017-10-30 12:13] Vad1mo commented on #1486
r == `false`

[2017-10-30 12:18] Vad1mo commented on #1486
I also get this error, this when I try to change the existing registry.
[code]

[code]

[2017-10-30 12:24] vitoravelino commented on #1486
My bad on this, what needs to be checked is the `res` value  in the `registry_client.rb#reachable?`.

[2017-10-30 12:51] Vad1mo commented on #1486
Content of *res*

[code]

[2017-10-30 12:54] Vad1mo commented on #1486
looking at the `registry_client.rb? code should it not check for 401 and 200?

[code]

[2017-10-30 12:57] Vad1mo commented on #1486
I also would hit the `/v2/` path. Then we are pretty much sure we are testing against Docker Registry

[code]

[2017-10-30 12:57] vitoravelino commented on #1486
Probably, that's what I thought too when I saw that.

@mssola, can you confirm that?

[2017-10-30 14:41] mssola commented on #1486
Are you sure about this ? I tested locally and doing exactly that returns a 401 when credentials are not provided, even if you hit the right registry.

[2017-10-30 14:54] Vad1mo commented on #1486
We have here a few problems on our side with the current approach. Especially with the API Gateways.

1.  We have the same Domain name for the Registry and UI. The registry is only operating on /v2/*  reaching out to / never returns 401 but 200.

Also we should not check the authentication, only the reachability to the Registry. Expecting only 401 is imho to narrow. I rather would check for header

[2017-10-30 19:46] zot24 commented on #1418
@mssola `mssola/portus:susecon` seem to be working for me, at least it does authenticate (docker login my.registry.com) now and it seem likes it did load the env var properly.

I still got an issue but I believe is my fault I've been messing up with different configuration parameters.

I'll keep an eye on this issue to see when we can move the `:head` again 👍

[2017-10-31 09:32] mssola commented on #1262
@Alebmurillo @jmellor @rikkuness @raghu999 PR #1494 should do the trick. I've tried to document the issue as much as possible. Feel free to try it out and check if it fixes your issue (it does for me 😉)

[2017-10-31 12:37] OBenned opened #1496 "webhook events - no route to host, retrying"
Hello.

Im using the docker-compose example, with SSL enabled.
The only exception from the example is that i use mssola/portus:susecon image for the portus container, since i could not get opensuse/portus working (both head and 2.2)

The problem i have right now is that when i push an image to my registry, i get the following error from the registry.

`registry_1  | time="2017-10-31T12:34:05Z" lev

[2017-10-31 12:41] Vad1mo commented on #1496
seems like the registry isn't able to connect to https://registry.flexgateway.io/v2/webhooks/events

can you enter you registry container `docker exec -ti registry`and do a `curl` or `curl -I` on `https://registry.flexgateway.io/v2/webhooks/events`  this way you can find out if the registry is able to reach https://registry.flexgateway.io/v2/webhooks/events

[2017-10-31 12:56] OBenned commented on #1496
Since the docker registry image doesent contain curl i, tried running this from the local docker machine and im getting this with curl -I https://registry.flexgateway.io/v2/webhooks/events

`HTTP/1.1 404 Not Found
Server: nginx
Date: Tue, 31 Oct 2017 12:56:43 GMT
Content-Type: text/html; charset=utf-8
Connection: keep-alive
X-Frame-Options: SAMEORIGIN
X-XSS-Protection: 1; mode=block
X-Content-Type

[2017-10-31 13:07] Vad1mo commented on #1496
this indicates me that https://registry.flexgateway.io/v2/webhooks/events is not reachable. Check your nginx config. I also can't curl to https://registry.flexgateway.io/v2/webhooks/events.

You can change to config of registry to send the data to the interal container DNS. if you use the current docker-compsoe.yaml from master the dns name is simpel `portus:3000`

[2017-10-31 13:12] OBenned commented on #1496
Just tried with the internal container, then i get a connection refused:

`registry_1  | time="2017-10-31T13:10:06Z" level=error msg="retryingsink: error writing events: httpSink{https://portus/v2/webhooks/events}: error posting: Post https://portus/v2/webhooks/events: dial tcp 172.19.0.4:443: getsockopt: connection refused, retrying"
registry_1  | time="2017-10-31T13:10:06Z" level=warning msg="ht

[2017-10-31 13:13] Vad1mo commented on #1496
http not http port 3000

[2017-10-31 13:14] OBenned commented on #1496
Just edited my last post, im using this example: https://github.com/SUSE/Portus/tree/master/examples/compose

[2017-10-31 13:18] Vad1mo commented on #1486
btw. examples in https://github.com/SUSE/Portus/tree/master/examples/compose won't work without the  patch. #1493

[2017-10-31 13:21] OBenned commented on #1496
Still no luck im afraid

`portus_1    | 2017-10-31 13:20:17 +0000: SSL error, peer: 172.19.0.1, peer cert: , #<Puma::MiniSSL::SSLError: OpenSSL error: error:1407609C:SSL routines:SSL23_GET_CLIENT_HELLO:http request - 336027804>
registry_1  | time="2017-10-31T13:20:17Z" level=error msg="retryingsink: error writing events: httpSink{http://portus:3000/v2/webhooks/events}: error posting: Post http://p

[2017-10-31 13:24] Vad1mo commented on #1496
alright its TLS enabled then try `https://portus:3000/v2/webhooks/events`

[2017-10-31 13:31] OBenned commented on #1496
Tried that also, but that can't work either since im using a valid certificate, so the registry refuses to use that

`registry_1  | time="2017-10-31T13:25:23Z" level=error msg="retryingsink: error writing events: httpSink{https://portus:3000/v2/webhooks/events}: error posting: Post https://portus:3000/v2/webhooks/events: x509: certificate is valid for *.flexgateway.io, flexgateway.io, not portus,

[2017-10-31 19:59] dkeidel397 opened #1498 "Cannot build portus on mac using docker-compose"
I am following the instructions at https://github.com/SUSE/Portus/wiki/Docker-Compose-Environment.

I cloned the portus repo to a local directory on my mac.  I change directories into that directory and I issue the command:

docker-compose up

It indicates that it installs 77/77 componenets and then I get the following output:

(77/77) Installing: patterns-openSUSE-devel_basis-20170518-6.1.x86_64

[2017-10-31 21:40] dkeidel397 commented on #1498
Did a little more debugging by breaking down the long RUN command into parts to see what part actually is causing the error.

I found that it is the bundle portion:

ERROR: Service 'portus' failed to build: The command '/bin/sh -c bundle install --retry=3' returned a non-zero code: 18

[2017-11-01 19:57] dkeidel397 commented on #1498
I modified the Docker file RUN command to get a better idea of which part of the piped command is causing the error.  Modified the RUN command by splitting it up to look like the following:

RUN zypper ref && \
    zypper -n in --no-recommends ruby2.4-devel ruby2.4-rubygem-bundler \
           libxml2-devel nodejs libmysqlclient-devel postgresql-devel libxslt1 && \
    zypper -n in --no-recommends

[2017-11-01 20:06] vitoravelino commented on #1498
Hi @dkeidel397, sorry for the delay. The problem is because `ruby2.4-rubygem-bundler` package in openSUSE has an old version of bundler that doesn't support the constraint `ruby >= 2.4`.

So, for now what you can do is just remove that line from the `Gemfile` and run `docker-compose build portus` again. That should work. Sorry for the inconvenience.

[2017-11-02 07:51] mssola opened #1499 "Drop MariaDB support"
We have supported MariaDB/MySQL since the very beginning, but we've faced some issues along the way:

- Fulltext support had to be disabled (see #223).
- Case sensitivity problems on some indexes (see #1262 and #1494).

Since #1093 we have PostgreSQL support. This was done to simplify the `config/database.yml` file and to be more flexible. Also, the fact that some tools that we use (e.g. CoreOS Cl

[2017-11-02 08:04] mssola opened #1500 "Consolidate the REST API"
Someone from the community started the REST API (see #1299), which is quite a big deal. This was also important because we were starting to transition to Vue, which required some work on an API level. Because of this, we started to add more and more endpoints organically. This is good because it means that we are building an API that makes sense (at least for us), but it also means that the totali

[2017-11-02 12:58] #1262 closed

[2017-11-02 12:59] #1456 closed

[2017-11-02 13:11] #1491 closed

[2017-11-02 13:58] vbatts opened #1501 "`docker-compose up` currently failing"
Versions:
portus HEAD of 2cd73bbc666e2c321360341ac888ad594c0d212a
Docker version 1.13.1, build b5e3294/1.13.1

Last of the output of `docker-compose up -d`:
[code]

[2017-11-02 14:05] Vad1mo commented on #1501
duplicate of #1498

[2017-11-02 14:36] mssola commented on #1486
@Vad1mo gotcha, makes sense. Just be sure that we don't break anything 😉 (and let's continue the discussion on the PR)

[2017-11-02 14:40] mssola commented on #1501
Certainly 👍

[2017-11-02 14:43] mssola commented on #1479
Ok, I'll try to check the different possibilities when I have some time, but if someone else has already a proposal with code, feel free to submit a PR 😉

[2017-11-02 14:51] mssola commented on #1487
I always thought that it was a weird naming to begin with 😅 As for the name itself, `_` is not possible for the namespace because it has to have some alphanumeric value (restriction from docker itself). Since this is never going to be called directly, having a short name is not that important.

My proposal: `portus_global_team` and `portus_global_namespace` (the `_1` removed). Just saying this bec

[2017-11-02 15:00] vbatts commented on #1501
oh nice. I scrolled through the issues and didn't notice it.
Thanks!

[2017-11-02 18:25] dkeidel397 commented on #1498
No problem.  Thanks for getting back to me.  While I was waiting for a response I changed the line in the Gemfile to ruby "2.4.1" (and also removed the line completely from the Gemfile) which got me past the ERROR, but now when I run docker-compose up, I am getting ERROR messages that complain of things like:

Fetching gem metadata from https://rubygems.org/........
Fetching version metadata from

[2017-11-02 18:33] vitoravelino commented on #1498
That one I never saw. 😕

[2017-11-03 13:06] khelkun commented on #934
Hello thanks for this newcomers page.
Something puzzles me:
- I installed portus through the secured docker-compose example
- Everything sounds fine (admin user created, registry is here, etc..)
- But I can't succeed to push an image. `docker login srv-portus:3000` succeeds but despite the fact that use exactly the same credentials `docker login srv-portus:5000` fails with:
`Error response from da

[2017-11-03 14:45] khelkun commented on #1418
For anyone else in trouble with `docker login` and `docker push`. Here's what I experienced with using the master branch and the [Secure docker-compose example ](https://github.com/SUSE/Portus/tree/master/examples/compose)

So I was not able to `docker login srv-portus` or `docker login srv-portus:5000` => result was a 401 unauthorized error. However I was able to `docker login srv-portus:3000` bu

[2017-11-03 15:26] zot24 opened #1502 "Why `push` events are getting ignore?"
According to this lines https://github.com/SUSE/Portus/blob/master/lib/portus/registry_notification.rb#L6 `push` and `delete` should be supported as events being sent by the Docker registry but why I'm seeing the error message `Event discarded because it's not relevant`?

It's a little bit confuse as I can see the 202 accepted at the end of the message however the new image doesn't appear in Portu

[2017-11-03 15:27] zot24 commented on #1502
This is how my setup looks like atm:

[code]

[2017-11-03 15:49] zot24 commented on #1502
On the registry side I can see the following on the logs

[code]

There are a couple of error out there than looks similar than mine:

- https://github.com/SUSE/Portus/issues/905
- https://github.com/SUSE/Portus/issues/1051

However the are not the same as my error message is slightly different

[code]

Maybe because I'm routing all calls through nginx to communicate portus and the registry as in

[2017-11-03 16:04] zot24 commented on #1502
Ok not sure if this would be of any help but it looks like rolling back the registry from `2.6` to `2.5` make things work and I can see how Portus process the events now.

[code]

[2017-11-05 17:28] zot24 commented on #1502
If change the notification endpoint to `portus:3000` so there is a direct connection between portus and the registry instead of going through nginx, I can see a lot of the following errors in the registry:

[code]

And a lot of the following errors in portus:

[code]

[2017-11-05 17:55] zot24 commented on #1502
Ok I have realise few things (if it worth for future reference) my original error message make sense as the `MediaType` it's `application/octet-stream` and not what it should be to be processed by Portus `application/vnd.docker.distribution.manifest.v2+json` so I have add the following to my registry configuration under the notifications endpoint section to avoid unnecessary requests between the r

[2017-11-05 19:32] zot24 commented on #1496
Just want to add that I'm experiencing the same issue as @OBenned if I add `https` to the notification endpoint.

[code]

@OBenned how have you generated your certificates? I'm using Let's Encrypt to generate them using https://github.com/janeczku/rancher-letsencrypt and mounting the volume and then renaming `fullchain.pem` into `portus.crt` and `privkey.pem` into `portus.key`, not sure if our err

[2017-11-05 19:38] OBenned commented on #1496
Im using a valid Wildcard, and have renamed them like @zot24
Bu i only experienced that error when i strayed away from the original docker example and used the internal hostname for the container.
When i used the "correct" hostname, them there where routing problems, which was the first error i experienced

[2017-11-06 20:54] zot24 commented on #1496
I'm still experiencing the error

[code]

However it seem to be working it take a while for the event to reach Portus tho but eventually it update the namespace with the new pushed images and it's not `cronos` the one that updated the namespace as I disable it just to double check that it's the event + webhook what refresh it.

[2017-11-07 13:27] kybeg commented on #1448
I can confirm the same issue. I used docker-compose.yml, and also changed the registry to jordanjennings/portus:head-working.

Any ETA on when this can be fixed or possible workarounds? Is there some deeper way I can debug this to help out?

[2017-11-08 02:33] ITPROMatthew commented on #1009
I think this should be re-opened.

I am experiencing this on `:head`

[code]

[2017-11-08 11:48] roboto-cloud opened #1507 "traefik → docker-compose.yml example"
**Hi someone know why it not work?** here my three deploy files (traefik.yml + portus.yml + nginx.conf)
thanks in advance :)

**traefik.yml**
[code]

**portus.yml**
[code]

**nginx.conf**
[code]

[2017-11-08 15:51] roboto-cloud opened #1508 "400 Bad Request The plain HTTP request was sent to HTTPS port nginx"
Hi, someone know why I get this 400 Bad Request?

**here my nginx.conf**
thanks in advance,

[code]

[2017-11-08 18:34] dkeidel397 opened #1509 "Cannot browse to Portus running in Docker container on Openstack VM host"
I followed the production example found at https://github.com/SUSE/Portus/tree/master/examples/compose

A brief outline of what I did:

1.  git clone https://github.com/SUSE/Portus.git
2.  changed hostname in `.env` and `nginx/nginx.conf` to the ip address of the OpenStack host VM
3.  created a self signed certificate using `openssl` and placed the `.key` and `.crt` files in `/secrets/` of the rep

[2017-11-08 21:48] dkeidel397 commented on #1509
As a test I removed all the docker images and used the other .yml file which is called the insecure setup.  In this setup you have to provide the port number along with the host ip to view the registry.  In this setup I also did not have any luck viewing portus when I went to `https://<host ip address>:5000

[2017-11-09 02:55] roboto-cloud commented on #1449
@mssola
this two issues was resolved whit your image `mssola/portus:susecon`
https://github.com/SUSE/Portus/issues/1507
https://github.com/SUSE/Portus/issues/1508

Thanks!

[2017-11-09 11:01] ondj opened #1510 "Docker image libreadline.so.6 error"
When I try to start Portus from Docker on Centos, this error is showed and container exists right after this message:
[code]

[2017-11-09 14:02] aleksystasiak commented on #1479
Is there any progress ? I just added another 200Gig

[2017-11-09 14:26] roboto-cloud opened #1511 "error parsing HTTP 404 response body: unexpected end of JSON input: """
**someone know how fix it?**

[code]

[2017-11-09 19:20] rahulinux commented on #1418
Waiting for fix in official image

[2017-11-09 19:30] #1498 closed

[2017-11-09 19:30] #1501 closed

[2017-11-10 03:26] attritionorg commented on #1428
In looking at this, @andrey01 reported this in 2.2, yet @mssola says 'delivered to 2.2' which is current (and released in January). So did this affect 2.1 and 2.2 fixed?

[2017-11-10 16:27] psyhomb opened #1514 "Any news about when the new release will be out?"
I was wondering is there any news about when the new release will be out => v2.3 (in development)

Thanks

[2017-11-14 09:01] nabadger commented on #1510
I have the same on coreos:

Container Linux by CoreOS 1465.6.0 (Ladybug)
[code]
[code]

[2017-11-14 09:16] nabadger commented on #1510
I don't get this error on 2.1 or head (only 2.2). I do however get a bunch of configuration errors, which are probably reloated to missing configs.
[code]

[2017-11-14 09:27] nabadger commented on #1510
[code]

[2017-11-14 09:50] nabadger commented on #1510
If I extract the layer on the 2.2 version I can see the file:

[code]

On portus:2.1 it was libreadline.so.6.2.

Bit lost now - some kind of selinux issue?

[2017-11-14 11:21] wrfly opened #1515 "Can not push images to registry"
docker version:
host: 17.06.1-ce
client: 17.06.1-ce

docker-compose file:

[code]

.env:
[code]

push log:
[code]

registry log:

[code]

I can login to this registry, but I cannot push or pull anything. I once succeed pushed an image, but when I remove the data and `down & up` the containers, I never saw it again.

Struggling a whole day, please help...

[2017-11-14 11:32] wrfly commented on #1515
nginx log:

[code]

[2017-11-14 11:33] wrfly commented on #1515
portus log:

[code]

[2017-11-14 11:49] zot24 commented on #1515
Something similar happened @wrfly to me and I was getting that same error:

Have you verified that your namespace `admin` exists? and the user you are using to login have privileges to push to it?

[2017-11-14 17:39] wrfly commented on #1515
Yeah, I only created an `admin` user, so the namespace exists and the user does have the privileges to push or pull.

Do you know how to debug portus or something? Thanks.

[2017-11-15 02:27] wrfly commented on #1515
It's the `FQDN` error, I configured the registry to `registry.nxgvm.net:5000` but I push the image to `registry.nxgvm.net`.
So the point is, the registry's FQDN should not contain the port 5000.

Problem solved.

[2017-11-15 02:27] #1515 closed

[2017-11-20 14:40] mcoreix commented on #1510
Get another version of Docker

Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:40:46 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:39:27 2017
 OS/Arch:      linux/amd64
 Experiment

[2017-11-21 14:17] Junyouwei opened #1519 "Upload Docker images including MariaDB into Portus registry occur error"
Hi,

I met one issue about Docker image uploading.
When I push docker image into Portus registry, once contains MariaDB, then uploading image will be failed. and the error information as below:
docker@RDDashboard:/opt/docker/dashboard$ docker push archive.docker-registry.eecloud.nsn-net.net/ossdashboard/dashboard_web
The push refers to a repository [archive.docker-registry.eecloud.nsn-net.net/ossd

[2017-11-21 14:50] Vad1mo commented on #1519
I guess its an timout, in the config you can increate the timout. `jwt_expiration_time ` (default its set to 5 minutes). Sometimes on slow connections and big images it is not enough.

[2017-11-21 15:32] Junyouwei commented on #1519
actually I tried other images that bigger than that.
and it is OK.
I compared many times, and get the conclusion that it is: once installs Mariadb, then this images can't be uploaded.

[2017-11-21 15:34] Vad1mo commented on #1519
what is you backend Disk, S3 or Swift?

[2017-11-21 16:48] Junyouwei commented on #1519
it's CEPH,
SWIFT is not used in our openstacks currently that can be defined as S3, block storages and images storages.

[2017-11-21 16:54] Vad1mo commented on #1519
docker registry does not support CEPH as a storage driver.
It should be one of those from the list: https://docs.docker.com/registry/storage-drivers/

[2017-11-21 16:54] Vad1mo commented on #1519
can you paste your docker registry config here, **not portus**

[2017-11-22 09:28] Junyouwei commented on #1519
you mean Docker file?
I install MariaDB in image and commit it.

**FROM dashboard_python:2.8
ENV http_proxy http://10.144.1.10:8080
ENV https_proxy https://10.144.1.10:8080
ENV PYTHONUNBUFFERED 1

CMD mkdir /Dashboard
WORKDIR /Dashboard
ADD . /Dashboard
#RUN pip install -r requirements.txt

EXPOSE 80
CMD ["sh","start.sh"]**

[2017-11-22 09:51] Vad1mo commented on #1519
The configuration of your *Docker Registry*. It is the **config.yml** file.
Like this: https://docs.docker.com/registry/configuration/#list-of-configuration-options

[2017-11-22 14:26] Junyouwei commented on #1519
yml file like below:

version: '2'
services:
  mysql:
    build: mysql
    ports:
      - 3306
    volumes:
      - /opt/docker/datadir:/var/lib/mysql
      - /opt/docker/custom:/etc/mysql/conf.d
  web:
    build: productgo
    ports:
      - 80
    links:
      - mysql
      - etcd
  etcd:
    image: quay.io/coreos/etcd:v2.2.0
    mem_limit: 128m
    ports:
      - 24001:4001
      - 22379:2379

[2017-11-22 14:27] Junyouwei commented on #1519
The image which has problem is the build **productgo**

[2017-11-22 14:27] Junyouwei commented on #1519
web:
build: productgo
ports:
- 80
links:
- mysql
- etcd

[2017-11-22 14:56] Vad1mo commented on #1519
Sorry I can't help. You din't provide an answer to my questions. Apart from that, the provided doesn't contain anything related to Portus or the Docker Registry.

[2017-11-22 16:16] Junyouwei commented on #1519
Yes, I only can provide my docker image configuration. for Portus part, I've no idea for that.
I'm wondering is there any similar case and find similar solution for that.
Thanks a lot for your support.

[2017-11-22 16:18] Junyouwei commented on #1519
according to the investigation and comparison, once contains mariadb into image, then this images can not  be pushed into Portus registry.

[2017-11-22 18:59] Vad1mo commented on #1519
I suspect if the registry is using the swift storage, then this is a common issue swift registry issue.
Try *Docker build --nocache  --pull -t yourmariadb* if it works then it's the storage.

[2017-11-27 12:18] Amiiya commented on #1453
No ideas? :( Or is this a non-Portus-related bug?

[2017-11-27 13:01] Vad1mo commented on #1453
maybe related to #1405 and #1378 .

[2017-11-28 03:08] nowingfly commented on #982
I felt so frustrated that after followed most of the tutorials that can be found but still failed at last. It shows no error but nothing shown on the webpage when I access my private url, e.g. http://<my_domain>:5000.

Currently there is already **NO** **compose-setup.sh** in the latest code repository. So I first configured the **config/config.yml** as described at [http://port.us.org/docs/Config

[2017-11-28 09:18] vitoravelino commented on #982
Did you try `http://<your_domain>:3000`? In port 5000 it's supposed to be a blank page because it's the registry and not Portus web app.

And sorry for the outdated content mentioning the `compose-setup.sh` thing. We need to update that.

[2017-11-28 09:23] vitoravelino opened #1525 "Remove/replace outdated content"
We've evolved a lot the past months and some stuff changed. We need to keep our docs up to date to our latest release (or keep multiple versions of it?) to avoid confusion from new users.

- The video in the index page is pretty outdated.
- What else?

[2017-11-28 20:55] jordanjennings commented on #1511
I have seen this issue when someone tries to push the image to portus rather than to their registry. In other words, if you have portus running on `portus.example.com` and your registry at `registry.example.com` you need to do a docker login to `registry.example.com` and tag and push your image as `registry.example.com/rbt/alpine:latest`

[2017-11-29 10:14] nowingfly commented on #982
Thanks so much @vitoravelino . Now I can see the portus ui, but was blocked out to enjoy it.

I have enabled the ldap authentication and saw the login ui as shown below:
<img width="496" alt="ldap_login" src="https://user-images.githubusercontent.com/2989998/33369471-abeb2c1c-d52f-11e7-895b-fb1303f38a7f.png">

After typing the username and password kept in ldap server, I met the following issue:
<

[2017-11-30 15:45] nowingfly commented on #982
I can login to the portus after disable ldap and create the first admin account. I can create more namespaces but failed to create new members.

It's so wired that the message "User cannot be found" always prompted for adding a new member. The log is shown as below:

  User Load (0.3ms)  SELECT  `users`.* FROM `users` WHERE `users`.`id` = 2  ORDER BY `users`.`id` ASC LIMIT 1
   (0.2ms)  SELECT COU

[2017-12-03 22:40] mssola opened #1527 "Mark tag as immutable"
There is an use case in which someone would push an image:tag, and then want it to make it immutable, so no one ever changes it. This should be pretty easy to support.

[2017-12-04 12:52] mssola opened #1528 "Only allow Portus administrators to push images"
There is an use case in which only Portus administrators should be able to push new images. We should find a workflow in order to accommodate this and implement it.

[2017-12-05 12:36] nowingfly commented on #982
This issue can be closed now for I have switched to vmware's harbor project. It really works quite well for me.

[2017-12-06 14:13] r-chris opened #1529 "No "latest" docker tag present on docker hub"
Hi,

I'm not sure if this is intentional, but the `opensuse/portus` docker image on docker hub does not have a `latest` tag at present. Hence, I can't easily pull the latest image. There is a `head` tag - are people supposed to use that instead?

Thank you!

[2017-12-07 08:04] jcgruenhage opened #1530 "Use docker image with Postgresql"
I've just tried setting up portus with postgresql database, and realized that the docker image does ship a different database config file, which doesn't allow setting the adapter and expects different env variables than the `database.yml` file in this repository. While this is not that really bad (I'll just pass through my own `database.yml`) it is pretty confusing, as it behaves differently than

[2017-12-07 08:15] jcgruenhage commented on #1530
Actually, this is bad. The pg gem is not bundled in the docker container (anymore?), so it won't run with a passed through `database.yml`.

From the docs linked above:

So this again is in conflict with the official documentation.

[2017-12-07 08:19] jcgruenhage commented on #1529
The example files at https://github.com/SUSE/Portus/tree/master/examples/compose use the head tag, so I guess that's the one to use.

[2017-12-07 09:01] r-chris commented on #1529
I would suggest adding a `latest` to point to the latest **stable** release and `head` is probably the current bleeding edge release ?

[2017-12-07 11:47] zot24 commented on #1530
They don't fully support Postgres yet you have to use MySQL until they sort it out there are few issues explaining why, I'm waiting for this feature as well as atm I have MySQL (for Portus) and Postgres (for Clair) running and it will be mint to have just one DB 👍

[2017-12-07 16:23] mssola commented on #1448
This should be more or less fixed with #1526, in which we added a workaround for `cconfig`. Long story short, you can provide the `CCONFIG_PREFIX` and set it to `PORTUS`. The packaging issue should be fixed next week or so, but I don't think it affects this bug anymore.

[2017-12-07 16:25] mssola commented on #1009
Fixed in #1526 if I'm not mistaken 😃

[2017-12-07 16:26] mssola commented on #1507
What is it exactly that doesn't work ? Could you provide more information ?

[2017-12-07 16:34] mssola commented on #1449
This should probably be fixed with #1526. Until that is merged, you can probably use the `CCONFIG_PREFIX=PORTUS` environment variable option.

[2017-12-07 16:37] mssola commented on #1508
Closing in favor of #1507.

[2017-12-07 16:37] #1508 closed

[2017-12-07 16:38] mssola commented on #1479
At least not from my side. This will probably come in a 2.4 release 😉

[2017-12-07 16:39] mssola commented on #1418
Some partial fixes are in #1526. The packaging side of things should be sorted out next week 👍

[2017-12-08 08:34] mssola opened #1531 "Provide a general error for HTTP requests"
Often in the code involving HTTP requests there's a general ugliness regarding how we handle possible exceptions. This results in writing `rescue` without the expected error classes, which sometimes hides valid exceptions, thus hindering debugging.

The proposed solution is:

- We create a general exception, which as arguments accept the error message and the class of the original exception.
- Thi

[2017-12-09 08:43] jcgruenhage commented on #1530
@zot24 thanks for the info, but that should still be communicated in the documentation then :D

[2017-12-11 10:14] wrfly opened #1532 "Unable to fetch tags data."
Portus can not fetch image tags, 500 error.

Portus Version: `2.3.0-dev`

error log:
[code]

[2017-12-11 13:30] mssola commented on #1530
@jcgruenhage this is due to a bug: #1418. Once we fix this (which should happen as soon as possible), you'll be able to interact with the database adapter as documented 😅

See #1499 😉 It's a breaking change (e.g. we'd have to provide a migrator from mysql to postgresql data) and we were short in time. Feel free to leave a comment in #1499 if you have any suggestions on the topic 😃

Closing this no

[2017-12-11 13:30] #1530 closed

[2017-12-11 23:53] nikolaiderzhak commented on #1167
We have got like 4,000+ of that ruby zombies. How bad is it ? And why it happens ?

[2017-12-12 14:51] mssola commented on #1499
Maybe we can use [pgloader](https://github.com/dimitri/pgloader) for migrating existing databases...

[2017-12-12 15:50] mssola commented on #1167
What version of Portus is that ? How did you deploy it ?

Just wondering because I don't think this issue is relevant anymore (we are using Puma now instead of Apache, and that should not really happen anymore).

[2017-12-12 16:09] mssola commented on #1532
This issue has been already (theoretically 😉) fixed. In `master` at least this should not happen (now, bear in mind that `opensuse/portus:head` is a bit behind because of #1418).

So, is this from the `docker-compose.yml` file we provide at the root of the project (development version), or this comes from a `docker-compose.yml` file taking `opensuse/portus:head` ?

Finally, since you are using Cla

[2017-12-13 05:08] wrfly commented on #1532
Hi, this issue came with `Clair`, when I remove `Clair`, everything is  #fine.
The `opensuse/portus`'s digest is `sha256:c144b4ea871e3ddbeb8b9f4acaa002cb...`

[2017-12-13 09:07] mssola commented on #1532
Yeah, I just looked into it and it's because `opensuse/portus:head` is actually behind master: master should work.

Hence, I'll add this issue as a duplicate of #1418, so when we fix that (soon enough) we can close this one too. Thanks for reporting.

If you want to get your hands dirty meanwhile, maybe you could try building the docker image from the Dockerfile we provide on the root of the proje

[2017-12-13 09:12] mssola commented on #1529
We didn't have a `latest` tag because that word has a different meaning to different people: latest as in latest stable release, or latest as in master ?

After some time, I think it would be a good thing to point to the latest stable release. Furthermore, I'd like to add another tag: `development`, or something like that. That's because `head` was broken for quite some time and people could simpl

[2017-12-13 09:14] mssola commented on #940
After some previous work, I think I can tackle this issue. I will combine what I've done in #1353 and #1526 to fix this once and for all, regardless of the puma workers you have for Portus.

[2017-12-13 10:35] r-chris commented on #1529
Generally, if I do a `docker pull XYZ:latest` I expect to get something that will work. If there are unstable releases on docker hub, they probably shouldn't be tagged as `latest`

Having a `dev` tag certainly makes sense for people to know this isn't a `stable` release.

[2017-12-13 10:46] vitoravelino commented on #1529
`latest` for stable, `dev` or `head` to master branch (I'm tend to prefer `head` but I'm not sure if people would understand that this might be an unstable version).

Which terms do people usually use in the docker world?

[2017-12-13 12:42] mssola commented on #1529
@vitoravelino note that `dev` and `head` would be the master branch but from two different sources:

- `dev` for what we've got in Github.
- `head` for what we produce on OBS when fetching the master branch from Github.

Let's do that 👍

[2017-12-13 14:58] wrfly commented on #1532
Thank you very much!

[2017-12-13 20:04] lauriholmas commented on #1167
I am using Portus by building container mage  from https://github.com/openSUSE/docker-containers/tree/master/derived_images/portus using branch portus-2.2. ( old apache it seems, but there is no branch for 2.3)

[2017-12-14 13:36] #940 closed

[2017-12-14 13:53] mssola commented on #1529
Current state:

- [x] Add a `latest` tag.
- [x] Remove old tags (2.0 and 2.1).
- [ ] Add a `development` tag.
- [ ] Documentation: improve the README, the `gh-pages` branch, etc. It should be crystal clear where to fetch each version, how to deploy it, etc.

The `development` tag is kind of tricky because you cannot specify multiple source repositories for automated builds on Docker Hub. I'll prob

[2017-12-14 15:59] nunterr opened #1538 "#<Mysql2::Error: Unknown MySQL server host 'db' (-3)>"
crono_1       | + '[' 1 -ge 128 ']'
crono_1       | + echo 'Crono terminated with status: 1. Trying again in 10 seconds.'
crono_1       | + sleep 10
crono_1       | Crono terminated with status: 1. Trying again in 10 seconds.
portus_1      | Unknown MySQL server host 'db' (-3)
portus_1      | /usr/lib64/ruby/gems/2.4.0/gems/mysql2-0.4.7/lib/mysql2/client.rb:89:in `connect'
portus_1      | /usr/lib

[2017-12-14 16:01] Vad1mo commented on #1538
What are you trying to do?

The error is clear: **Unknown MySQL server host 'db' (-3)**

[2017-12-14 16:04] nunterr commented on #1538
I was not successfully deployed in the docker-compose up times error

[2017-12-14 16:05] nunterr commented on #1538
Try to modify the BD connection, but it doesn't seem to be the problem here

[2017-12-14 16:12] nunterr commented on #1538
I was not successfully deployed in the docker-compose up times error，Try to modify the BD connection, but it doesn't seem to be the problem here @Vad1mo

[2017-12-14 16:14] nunterr commented on #1538
@
<img width="1279" alt="wx20171215-001332 2x" src="https://user-images.githubusercontent.com/13696064/34002152-d3a001b6-e12c-11e7-8305-262bf7178e24.png">

[2017-12-14 16:18] Vad1mo commented on #1538
so you did `docker-compose up` having the error in the beginning is IMHO. The DB needs a few seconds to startup. If you do `docker-compose down && docker-compose up` do you see the error again?

[2017-12-15 02:01] cherrishccl opened #1539 "Cannot login to Portus running in Docker container on Openstack VM host"
I had installed the Portus on the openstack compute node and seen that all the docker containers were running.
Then I tried to login the Portus from Openstack VM host,but faild:
Error response from daemon: Get http://192.168.1.12:5000/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers).
How to fix it?
Thank you.

[2017-12-15 02:19] nunterr commented on #1538
I will always make a mistake. I can't connect to the database. I don't know where the specific problem is

[2017-12-15 10:03] nunterr opened #1540 "Restart the mirror data to be cleared"
Image installation of Portus, after use, restart mirroring, all previous user data is cleared, please ask what needs to be configured to save data

[2017-12-15 14:08] mssola commented on #1167
There is no branch for 2.3 just yet, we'll create it soon. For now you'll have to test this with the `head` tag, which is a bit behind of the `master` branch but you'll be able to check whether this is something affecting you there as well.

[2017-12-15 14:52] mssola commented on #1514
We wanted to release it this past november, but we are still working on high priority bugs. Hopefully in the following weeks we can release a proper release candidate.

[2017-12-15 20:31] mssola commented on #1514
Yeah. Take a look at this [Helm chart](https://github.com/kubic-project/caasp-services/tree/master/contrib/helm-charts/portus) 👍

[2017-12-16 18:17] lanmingle opened #1542 "Too complicated to use"
Why not provide a built-in database?

docker run --rm -it opensuse/portus:2.2 ok ?

[2017-12-16 19:23] Vad1mo commented on #1542
Portus follows the common practice to run a single application per  container. That what the main purpose of Docker is.

You can find many sources on the net
Eg. https://developers.redhat.com/blog/2016/02/24/10-things-to-avoid-in-docker-containers/

[2017-12-17 14:11] lanmingle commented on #1542
@Vad1mo

你好，我不是菜鸟，我就是觉得 Portus 不能一条命令运行起来，如： nexus 3 提供的 docker ，单纯使用一条命令即运行起来，明白我的意思没有？

Hello, I'm not a rookie, I just don't think Portus can run a single command, such as the docker provided by nexus 3, and just use a single command to run it, and understand what I mean?

[2017-12-17 14:18] Vad1mo commented on #1542
典型的** Container Registry **应用程序由许多不同的进程/应用程序组成。 Portus WebUI，Docker Registry，PortusCtl，Clair，最后是DB，它通常是一个共享实例。

将数据库放入与Portus WebUI相同的容器中并不会产生太大的变化，但会使维护变得更加困难。 你不这么认为吗？

The typical **Container Registry** application is made up of many different processes/applications. The Portus WebUI, Docker Registry, PortusCtl, Clair and finally the DB, which is often a shared instance anyway.

So Putting the

[2017-12-18 11:15] mssola opened #1544 "Provide a `development` tag on Docker hub"
It could be useful to provide a `development` tag containing the result of a `docker build` on the root of the project. Right now the official image is an automated build of [openSUSE/docker-containers](https://github.com/openSUSE/docker-containers), and so we cannot build it from there.

[2017-12-18 11:15] mssola commented on #1529
I think we can leave the `development` tag for another time (#1544)

[2017-12-18 11:15] #1529 closed

[2017-12-18 16:58] hbastosc opened #1545 "No new release since January"
Hi,

Just wanted to ask if there is any intentions to create releases in the near future. There hasn't been any new release since January but there do seem to be a lot of commits from the development team.

[2017-12-19 08:35] martinsp commented on #1545
See https://github.com/SUSE/Portus/issues/1514#issuecomment-352024678 for some details

[2017-12-19 15:48] mssola opened #1548 "Investigate how we can integrate container-diff"
See [blog post](http://port.us.org/2017/12/19/container-diff.html).

[2017-12-19 15:53] mssola commented on #1545
Theoretically in November there should've been a release candidate, but some bugs had to be attended before and they took longer than expected. As I mentioned in #1514, hopefully in the following weeks we can have something more stable.

I'll close this issue in favor of #1514 if you don't mind, but feel free to write more comments if you have any more doubts.

[2017-12-19 15:53] #1545 closed

[2017-12-19 15:57] mssola commented on #1538
@nunterr how are you trying to deploy Portus ? I figure it's with docker-compose, but could you submit the `docker-compose.yml` file you are using ? Maybe this way we can figure what's wrong 😉

[2017-12-19 15:59] mssola commented on #1539
I'm honestly not sure 😕 This looks like there's some kind of networking issue. It depends on your configuration and how you have deployed everything. Could you check whether the different VMs are reachable ?

Plus, when you say "login", you mean like "docker login" right ? Not from the web UI.

[2017-12-19 16:16] mssola commented on #1542
I have to admit that I'm not acquainted with the architecture of Nexus, but last time I looked into it, it looks like they provide their own implementation of the registry. We decided to follow another route: simply using the provided and stable API from the upstream project. For us it is better to do this because:

- People already using a Docker registry can then add Portus as an additional laye

[2017-12-19 16:16] #1542 closed

[2017-12-19 16:17] mssola commented on #1540
What are you doing exactly to deploy Portus ? Could you be more specific ? I'm a bit lost 😕

[2017-12-19 16:24] hbastosc commented on #1514
Thanks for the update. After this new release is the plan to keep releasing new updates each year? Or is there any plans to update the application more frequently?

[2017-12-19 16:24] nunterr commented on #1540
The master version I used, docker-compose up deployment, was emptied when the service was restarted during use @mssola

[2017-12-19 16:27] nunterr commented on #1538
I was deployed using the master version of the default  @docker-compose.yml, without changing the content

[2017-12-19 16:49] amccool commented on #1449
`CCONFIG_PREFIX=PORTUS` did not work for me.
however
`mssola/portus:susecon` got the insecure example running (at least the UI).

[2017-12-19 23:19] dmoshi commented on #978
Were you able to fix? Can you share?

[2017-12-20 16:41] #1118 closed

[2017-12-21 02:40] cherrishccl commented on #1539
@mssola Yes,I think so,there's some kind of networking issue.I had deployed every ，and woked well on other computers(not openstack vm) when executed this command "docker login".Thanks.

[2017-12-21 11:18] vitoravelino commented on #1540
@nunterr I suppose you are using the `docker-compose.yaml` from the root folder, right?

Based on that I guess what he's saying is that every time he shut down and start Portus via docker-compose, the previous data is not there anymore. That is happening because we `rake db:migrate:reset` inside the init bash script.

@mssola Btw, why do we need that bash file? Just to wait until the database is r

[2017-12-22 07:34] mansoncui opened #1552 "Portus源码里面没有compose-setup.sh脚本"
Portus源码里面没有compose-setup.sh脚本

[2017-12-22 14:35] mssola commented on #1552
Yeah, that's right. You only need to call:

[code]

Where did you find a reference to `compose-setup.sh` ? We should remove it...

[2017-12-22 14:39] mssola commented on #1540
@vitoravelino you are right. Now notice that in the `bin/background.rb` we are also waiting for the DB to be up. Maybe we can re-use part of the initialization code there in the development procedure, output some help message (as in, if it's the first time you have to call "blabla") and then call puma.

What do you think ?

@nunterr is this what you are saying ?

[2017-12-22 14:40] mssola commented on #1539
Could you enter into more detail about your deployment method ? As in, configuration files, open ports, what is the expected workflow, etc. Also, provide logs if possible.

[2017-12-22 14:41] mssola commented on #1449
Then it's definitely something on the package. Let's see if we can get #1418 fixed asap...

[2017-12-22 14:44] mssola commented on #1514
The original idea is to release more often, but I got involved in [other projects](https://github.com/kubic-project) for quite some months and couldn't spend as much time as I intended. Now this should be solved, so we should be able to release more often. After the 2.3 release I'll try to be more realistic about the 2.4 release...

[2017-12-22 15:03] mssola commented on #1538
It appears to be a networking issue overall. For example, the `webpack` process does not have internet access either. There's something fishy about this. What OS are you using ? Can you confirm that from within a container (e.g. use `docker exec` to manually ping something) you can reach other containers or the outside world ?

[2017-12-23 17:18] DMW007 opened #1554 "starting container process caused "exec: \"bundle\": executable file not found in $PATH""
I used our examples in https://github.com/SUSE/Portus/tree/master/examples/compose to start Portus using docker-compose. So after a `git clone`I got this:

After this, only the container `compose_portus_1` is running. It seems like the `bundle` command from the entrypoint is missing. What am I doing wrong?

Here some information about my environment:

[code]

[2017-12-23 17:24] DMW007 commented on #1499
I don't think dropping MySQL is a good idea. It's a de facto standard on SQL servers and would require larger deployments to run another SQL server beside to their existing MySQL service. Isn't there some kind of ORM, which acts as an abstraction layer so that you can easily change the database without touching SQL statements? I know this e.g. from EntityFramework in ASP.NET Core.

[2017-12-24 22:07] s1shed commented on #1554
I hacked around it thusly:

[code]

[2017-12-26 21:27] jeffersonsouza commented on #1554
same as here

[2017-12-27 14:37] xylphid commented on #1507
Hi,

Got the same issue with portus and traefik as reverse proxy/load balancer. My traefik configuration is slightly different (force https) but portus configuration is the same.
I just keep getting a HTTP_400 error : The plain HTTP request was sent to HTTPS port

Here are my logs :
[code]

[2017-12-27 19:49] rmamba commented on #1554
I see same issue, trying to create an easy install for UNRAID server

[code]

[2017-12-28 04:22] zhufengyun commented on #1554
same problem

[2017-12-28 10:48] meons commented on #1554
Same problem for me.
Based on your [example](https://github.com/SUSE/Portus/blob/master/examples/compose/docker-compose.yml), I looked into portus container which is based on the same docker image (opensuse/portus:head) that the background container and it seems that the file `/srv/Portus/bin/background.rb` is missing.

total 44K
drwxr-xr-x 1 root root  166 Dec 19 09:33 .
drwxr-xr-x 1 root root  6

[2017-12-28 18:26] Vad1mo commented on #1507
why do you put nginx in from on portus?

First I would reduce the complexity of the setup.  Try setup Portus without nginx and even without traefik first. If that is working you can add traefik and then traefik + TLS,  if you really need it then you can add nginx.

[2017-12-29 10:56] vitoravelino commented on #1554
I might be wrong but I guess this issue is also related to https://github.com/SUSE/Portus/issues/1418. `opensuse/portus:head` is broken for a while. @mssola has been focused trying to fix all the issues around it.

[2017-12-31 10:09] bernisands opened #1555 "Broken master branch"
Hello,
i have cloned the master branche to do a bare metal install.
But i have seen, that there a least two problems:
First in the gem file there is no crono anymore.
Second, in different files like mail.rb and namespace_validator.rb
i get an error
NoMethodError (undefined method `match?' for "portus_global_namespace_1":String
Did you mean?  match):
I have corrected match? in match and now it work

[2018-01-01 17:33] Nick-Harvey commented on #1507
I get the same error but instead of traefik I'm using the default nginx ingress defined in the official [helm chart](https://github.com/kubic-project/caasp-services/tree/master/contrib/helm-charts/portus) and deploying with ssl enabled.

400 error
The plain HTTP request was sent to HTTPS port

`*   Trying 35.196.74.157...
* TCP_NODELAY set
* Connected to foo.bar.com (35.196.74.157) port 443 (#0)
*

[2018-01-02 09:52] mssola commented on #1499
That's debatable. Moreover, since 2.3 we will focus more and more into containerized deployments (e.g. Kubernetes) and in this environment the choice of DB is not that important (it still is, of course) for  sysadmins. Finally, if you want to use security scanning with Clair (which I believe it's an important feature), you are forced to use PostgreSQL anyways (requirement from Clair).

We are usin

[2018-01-02 12:30] meons commented on #1554
Mmm I get the same error with `opensuse/portus:latest`. It seems that is broken too.

[2018-01-04 08:11] xylphid commented on #1507
@Vad1mo Thanks for the reply. I've just put nginx in front of portus to test the secure compose provided in this repository. I'll make a try with minimalist config then with traefik.
Will keep you informed soon.

[2018-01-04 14:08] mssola commented on #1554
This is a mix of two problems:

1. The already known #1418 which is really close to be fixed.
2. A regression fixed in #1562.

Once #1418 is gone, this one should go away. Marking as a duplicate to keep track.

[2018-01-04 14:10] mssola commented on #1418
This is almost ready. I'm currently fixing some remaining issues on the ruby 2.4 upgrade...

[2018-01-04 14:57] #1023 closed

[2018-01-04 16:00] Nick-Harvey commented on #1507
Was able to get it working by editing the nginx.conf to comment out "ssl on" and set the listen portion manually.

[code]
It's more of a work around than a fix. But now I'm getting portus ssl errors "For security reasons you need to use SSL. SSL is not configured, please review your server configuration." But I assume thats a separate matter.

[2018-01-04 23:50] Vad1mo opened #1565 "Unsupported mediaType 'application/octet-stream'"
I am doing some tests on the latest master branch and found this issue when image is pushed and the event is send from the registry to portus.

Not sure if that is a regression or a not yet tracked bug.

[code]

[2018-01-05 00:18] Vad1mo commented on #1496
I'll try to figure out a proper solution

[2018-01-05 00:19] Vad1mo commented on #1565
closing because duplicate of #1496

[2018-01-05 00:19] #1565 closed

[2018-01-05 10:09] Vad1mo commented on #1496
I pushed an image and it first try to pull, wich is correctly ignored.
`Event discarded because it's not relevant` as the pull isn't relevant.

However the push is correctly handled.  I am using the provided compose file.

Fyi: I switched to latest docker registry 2.6.2 as I run this in prod.

However I still don't see the result in Portus. Even if the event is accepted.
@mssola @vitoravelino ther

[2018-01-05 10:55] mssola commented on #1555
That's because we have removed crono, you should use `bin/background.rb` now 😉 That's something that we have to document.

Did you mean? match):

The required version of Ruby is 2.4, and in this version the `#match?` method exists (it didn't before). You have to upgrade your ruby. Maybe we can add a check when initializing portus for this :thinking:

Do you need more info ?

[2018-01-05 10:56] mssola opened #1567 "Document background process"
We have removed crono in favor of a background process that runs the same job (among other things). We should document this.

[2018-01-05 11:42] mssola commented on #1555
- For the documentation part, I've added #1567.
- For the checks on the ruby version, I've just submitted #1568.

[2018-01-05 15:57] xylphid commented on #1507
Hi,

I manage to have portus reachable with the following compose file :
[code]

Now it seems that the registry is not well configured because i'm not able to exec the `docker login` command.
[code]

**Logs :**
[code]

[2018-01-05 16:00] Nick-Harvey opened #1569 "Mixed Content Issues"
I've been trying to get to the bottom of this for a better part of a week now and can't seem to squash it. I've even put a bounty out on it on stackoverflow and still no dice.

here's the stackoverflow issue: https://stackoverflow.com/questions/48001934/mixed-content-error-nginx-ingress-in-kubernetes-for-rails-app

Further Info:
I'm running the latest master branch - last merge from upstream was a

[2018-01-05 16:18] Vad1mo commented on #1569
how does your nginx config look like?
who is serving the static content nginx or ruby/puma?

Did you set env var `RAILS_SERVE_STATIC_FILES=true` if you serve your static content via ruby.

[2018-01-05 16:33] vitoravelino commented on #1569
This is probably be a bug because I set the [API_ROOT_URL](https://github.com/SUSE/Portus/blob/master/app/views/layouts/application.html.slim#L32) based on `root_url` and that returns `http://` instead of `https://`.

[2018-01-05 16:52] Nick-Harvey commented on #1569
nginx.conf:

[code]

Portus configmap:
RAILS_SERVE_STATIC_FILES: "true"

Is there a workaround I can implement to fix the root_url issue?

[2018-01-05 16:54] vitoravelino commented on #1569
@Nick-Harvey you could replace `#{root_url}` with `https://mydomain.com/`. That is not ideal but it would unblock you until we provide a proper fix. Lemme know if it worked. :)

[2018-01-05 17:01] Vad1mo commented on #1569
Normally instead of hardcoding Schemas like `http://`one could use `//`which will automatically select the Schema. I think that should work

[2018-01-05 17:04] vitoravelino commented on #1569
@Vad1mo yeah, I already found a solution by using `request.env['HTTP_HOST']`. I'll open a PR and wait for @mssola feedback.

[2018-01-05 17:05] vitoravelino commented on #1569
Just waiting for @Nick-Harvey feedback to know if that fixes the issue.

[2018-01-05 17:36] vitoravelino commented on #1540
@nunterr We merged #1561 today but we are still not sure if that's the case for you. Let us know if that fixed your issue for development.

[2018-01-05 17:50] Nick-Harvey commented on #1569
The suggested fix did seem to fix the errors on the script, but now it's throwing SSL errors

"OpenSSL::SSL::SSLError: could not stablish connection: SSL error. You can skip this check by clicking on the "Skip remote checks" checkbox."

SSL cert (signed by external authority) is packaged into the app on build in /certificates/portus.crt and /certificates/portus.key

SSL certs are also applied in t

[2018-01-05 17:56] Nick-Harvey commented on #1569
Helms value file
[code]

Since the CORS road I was heading down I went ahead and altered my nginx config back to the original one supplied in the helm chart

new nginx file

[code]

[2018-01-05 18:02] Vad1mo commented on #1496
I dig into this topic a bit and and it seems to be related with the new backgroud worker changes.

It seems that the events that come in are stored in the DB and the background worker is processing them. However if I look at the compose file I see that the background Worker is only triggered once at its start producing the error `bin/rails: end of file reached (EOFError)` related to #1561

Questio

[2018-01-05 18:07] vitoravelino commented on #1569
👍

[2018-01-05 18:18] vitoravelino commented on #1496
#1561 was supposed to fix the EOF error in the `sync.rb` file by ignoring it and not breaking the container. It doesn't solve the error to happen. The EOF error reported here was way before the background container strategy were implemented.

[2018-01-05 19:12] Nick-Harvey commented on #1569
@vitoravelino I emailed the email address listed on your profile for bounty details. just wanted to let you know incase it wasn't something you checked regularly.

[2018-01-06 00:30] Vad1mo opened #1572 "Unknown database 'portus_development' (ActiveRecord::NoDatabaseError)"
This is a regression bug recently introduced  after 2nd January.

The Vanilla `docker-compose build`and `docker-compuse up` will reproduce this error.

[code]

[2018-01-06 21:31] night-crawler opened #1573 "Can't run docker-compose background process with current portus:head image"
Hi.

I'm trying to run [a little bit modified docker-compose example](https://github.com/night-crawler/le-portus-compose) (main goal is to use letsencrypt certs and separate frontend and registry domains).

It works (push|pull|token-auth) but it seems `PORTUS_INIT_COMMAND=bin/background.rb` is not supported or missing in current `opensuse/portus:head` build:

[code]
Also there's nothing like `*bac

[2018-01-07 03:38] dober opened #1574 "ActionView::Template::Error (File to import not found or unreadable: raleway."
Trying to run https://github.com/SUSE/Portus/blob/master/examples/compose/docker-compose.yml
But there is something wrong in image: opensuse/portus:head

[code]

Plus i have same issue [https://github.com/SUSE/Portus/issues/1573](url)

[2018-01-08 09:20] vitoravelino commented on #1569
@Nick-Harvey Just realized that my email is not working and I don't know for how long. But don't worry about it!

[2018-01-08 10:33] #1569 closed

[2018-01-08 10:34] vitoravelino commented on #1569
@Nick-Harvey We are closing this issue because it was initially related to the mixed content issue that now it's fixed in master.

Feel free to reopen it or open a new issue if you face any other issue. Thanks!

[2018-01-08 10:57] mssola commented on #1469
Fixed by #1566

[2018-01-08 10:57] #1469 closed

[2018-01-08 11:50] mssola commented on #1573
Hi, thanks for reporting. This is a duplicate of #1554. Long story short, the official docker image is behind current master, and so it doesn't include the background.rb code. This should be fixed shortly.

For now, you might want to build the image from the Dockerfile provided on the root of the project (it's not ideal because it will add some development-related stuff, but it's good enough so yo

[2018-01-08 11:51] mssola commented on #1573
We are also working on documenting the background process (see #1567). After that it will hopefully be easier to understand this container 😉

[2018-01-08 13:18] Vesli commented on #1574
I've got almost the same as well:

[2018-01-08 16:31] #1567 closed

[2018-01-09 10:48] xylphid commented on #1507
My Bad, I mistyped an env :
* PORTUS_MACHINE_F**QD**N_VALUE

I also had to had cconfig env to portus service :
* CCONFIG_PREFIX: PORTUS ([1386](https://github.com/SUSE/Portus/issues/1386))

Looks like i'm about to succeed but now i have a token error when i try to login to my registry :
[code]

[2018-01-09 13:16] lightlace opened #1578 "Improve dashboard messages when updating resource"
At the moment, i'm working on the implementation of a "Name" field for the webhooks in Portus. #1340
For testing purposes i changed the name of a webhook from "foobar" to "foobarhook".
The dashboard recognizes that, but it says "$USER updated "foobar" under the $NAMESPACE namespace."

So, it might be irritating to see the old webhook name under "Recent activities".
Therefore a special message like

[2018-01-09 13:17] xylphid commented on #1507
Finally I managed to make it work.
My last mistale was the certificate path.

So, my stack and config files are the following :
[code]

Registry config file :
[code]

I did not opened this issue but hope my comments will help to close it.

[2018-01-09 13:19] vitoravelino commented on #1578
Maybe rename it to "Improve dashboard messages when updating resource"? Then you can put the webhook as an example.

[2018-01-09 14:34] DevilMayCrySamsara opened #1579 "docker-compose: Step 7/8 Error"
[root@GitlabServer Portus]# docker-compose up
Building portus
Step 1/8 : FROM opensuse/ruby:2.4
 ---> 31544e184a5c
Step 2/8 : MAINTAINER SUSE Containers Team <containers@suse.com>
 ---> Using cache
 ---> e4ac37142751
Step 3/8 : ENV COMPOSE 1
 ---> Using cache
 ---> 8ba5361ef02a
Step 4/8 : EXPOSE 3000
 ---> Using cache
 ---> 42bedede76fd
Step 5/8 : WORKDIR /srv/Portus
 ---> Using cache
 ---> 1b6993

[2018-01-09 15:05] DevilMayCrySamsara commented on #1579
CentOS Linux release 7.4.1708

[2018-01-09 16:55] DevilMayCrySamsara commented on #1579
CentOS Linux release 7.4.1708

[2018-01-10 08:14] #1486 closed

[2018-01-10 16:19] mssola commented on #1579
This doesn't happen to me on openSUSE Leap 42.3. Maybe it was a networking issue ? Could you try again ? Otherwise I'd need more context 😅

[2018-01-10 16:48] mssola commented on #1574
I'm sure this is a side-effect of #1418. I'll mark it as a duplicate and re-visit this once I've finally fixed that.

Meanwhile, you might want to use the image that you can build from the Dockerfile provided on the root of the project.

Thanks for reporting 👍

[2018-01-10 16:50] mssola commented on #1572
This is when using the `docker-compose.yml` file on the root of the project ? or it's one of the examples ? Just saying because the one on the root of the project builds just fine 😕

[2018-01-10 17:04] Vad1mo commented on #1572
It's in the root, I'll give it a try and see if that is fixed.

However this only happens if there is no DB.

[2018-01-10 17:05] Nick-Harvey opened #1584 "Blobs not being created when pushing to registry"
Deploying Portus via [helm chart](https://github.com/kubic-project/caasp-services/tree/master/contrib/helm-charts/portus) on an image built from the latest master branch. Everything seems to be working correctly except that the UI isn't updated with the images when a user pushes a image to the registry. Everything is addressable, and authentication works fine. However, it looks as if the blobs are

[2018-01-10 17:10] Vad1mo commented on #1584
Nick, do you have NGINX in front of the registry?
If so make sure that cache is disabled. I saw similar issues with NGINX
caching data. However more likely I think it's you object store setup that
caused the problem.

To nail it down, can you please switch to filesystem and try if you can
reproduce the issue.

Nick Harvey <notifications@github.com> schrieb am Mi., 10. Jan. 2018, 18:05:

[2018-01-10 17:14] Nick-Harvey commented on #1579
I remember running into something similar a few weeks back and while It's a bit hackish, this is what my dockerfile looks like and it builds successfully

[code]

Essentially what I've done is merge the dockerfile from the [official docker image](https://github.com/openSUSE/docker-containers/tree/master/derived_images/portus) with the latest dockerfile and it builds properly on my machine (fedora

[2018-01-10 17:22] Nick-Harvey commented on #1584
I'll set it up to filesystem to see what I can work out. In the meantime, here's the nginx config as you'll see caching is disabled.

[code]

[2018-01-10 17:32] Nick-Harvey commented on #1584
I redeployed with filesystem with persistent volume claim like you mentioned, and the same error :(

[2018-01-10 19:52] Nick-Harvey commented on #1584
Also, looking around it looks like 'proxy-body-size' on the ingress resource needs to be set to "0" for different reasons, but... even with that set on all nginx resources the issue still persists

[2018-01-10 20:03] Vad1mo commented on #1584
What version of the registry are you using?
Try to use the latest. (2.6.2)

If that doesn't help, change the config of the registry so it doesn't use
portus.

Can you try to rollout the registry locally on minicube for example and the
result.

Also how long is the total duration of the push?

Nick Harvey <notifications@github.com> schrieb am Mi., 10. Jan. 2018, 20:52:

[2018-01-11 01:40] Nick-Harvey commented on #1584
The registry is 2.6.2, I'll see what I can do to get minikube working.

The more I look into this the more Im suspecting nginx..... but maybe @mssola might know if this is something related to the upcoming release of #1418 ?

[2018-01-11 02:21] DevilMayCrySamsara commented on #1579
OK, I'll try. Thank you for your reply.

[2018-01-12 03:13] DevilMayCrySamsara commented on #1579
@Nick-Harvey  sorry  COPY init rpm-import-repo-key /     ，i have no init directory ,so happens
Step 7/11 : COPY init rpm-import-repo-key /
ERROR: Service 'portus' failed to build: lstat init: no such file or directory

[2018-01-12 03:19] DevilMayCrySamsara commented on #1579
@mssola   Docker version 17.05.0-ce, build 89658be    ,What more information do you need?
At first I also suspected that it was a network problem, but based on the wrong message, I visited the address,I can access this address on the browser: http://download.opensuse.org/update/leap/42.3/non-oss/,

[2018-01-12 09:07] lanmingle commented on #1552
今天我取消 star 了，这玩意使用起来复杂，安装麻烦到要死，反正我到 examples 里面使用  docker-compose up 从来没有启动成功过（生成私有秘钥等都干了），就特么不能简单还特么多的借口，兄弟保重。

[2018-01-12 16:10] Nick-Harvey commented on #1584
Found the solution,

changed

to

[2018-01-14 13:39] jcgruenhage opened #1589 "bundler: failed to load command: packaging/suse/portusctl/bin/portusctl"
I've just updated to the latest head image, and it won't run. It wanted some changes to the DB variables, but even with those it didn't run, with the error message I've put into the title. I've gone back to the image from 10 days ago, that still works fine.

[2018-01-15 16:39] mssola commented on #1589
Bear in mind that we have changed quite some things (we've had the image broken for way too long and it was not getting updates). Check the [compose examples](https://github.com/SUSE/Portus/tree/master/examples/compose) for more info.

For example, the `background` process needs the `PORTUS_BACKGROUND: true` environment variable.

Also, pull the image again today because this morning we've noticed

[2018-01-15 16:44] mssola commented on #1584
Oh, sorry for getting too late 😅 I'll update the example with the NGinx config 👍

@bonhamjp maybe this is relevant for the Helm chart ?

[2018-01-15 16:48] mssola commented on #1552
I'll close this issue then (if I Google Translate translated this properly 😅). Bear in mind that you can create self-signed certificates with a simple command:

[code]

And then, in `examples/compose`, you can move these certificates into the `secrets` directory and execute:

[code]

[2018-01-15 16:48] #1552 closed

[2018-01-15 16:53] mssola commented on #1579
There must be something wrong on the packaging side of Docker for CentOS 🤔 Have you tried with a Docker from another provider ?

Also, for more info, this is what I'm using right now:

[code]

[2018-01-15 17:31] Nick-Harvey opened #1591 "Question: How do social logins (Github, Google, etc.) log into the registry?"
If you enable social logins via the config file, the user can authenticate to portus UI just fine, but what password do they use when running "docker login" ?

[2018-01-15 17:33] bonhamjp commented on #1584
Thanks for tagging me. Yes there is a similar NGINX config for the chart that will have to be changed as well.

[2018-01-15 17:38] Vad1mo commented on #1591
I need to  check it. But IMHO it was implemented in a way that a comlex random password is generated. So if a user wants to login with his password he needs to reset it first.

But I'll check the code to see how its implemented

[2018-01-15 17:52] Nick-Harvey commented on #1591
Thanks! I appreciate it very much :)

I'm doing the same thing from my side and trying to get a better grasp on how auth works in portus. One idea I have in my head is that when the user creates and account with omni-auth, they're presented with a form to set their username and actual name. It might be a good idea for the user to set a registry password in that same form, but I imagine that would

[2018-01-15 18:58] Nick-Harvey commented on #1579
@DevilMayCrySamsara you have to copy that rpm-import-repo-key file and that init file from https://github.com/openSUSE/docker-containers/tree/master/derived_images/portus and put it in your local portus repo. That should work, but let me know if it doesn't

[2018-01-16 04:10] DevilMayCrySamsara commented on #1579
@mssola   sorry, i have update docker  ,and now info:
[root@GitlabServer Portus]# docker version
Client:
 Version:      17.09.1-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   19e2cf6
 Built:        Thu Dec  7 22:23:40 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.09.1-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   19e2cf6
 Built:

[2018-01-16 04:16] DevilMayCrySamsara commented on #1579
@Nick-Harvey  em, where is portusctl.x86_64.rpm?  i found init file  by your way, but rpm-import-repo-key file   has been removed ,i create a file named "rpm-import-repo-key",and  the file content  writted by  the past file,  but  i can't find portusctl.x86_64.rpm.......

[2018-01-16 14:50] mssola commented on #1579
@DevilMayCrySamsara could you try with a Docker provided by somewhere else. I wonder if this might be something about how this Docker has been packaged 🤔

[2018-01-16 15:11] mssola commented on #1591
The code is around the controllers with names like `app/controllers/auth/omniauth_*`, but ultimately, what you are asking can be seen in `User.create_from_oauth`. Its current implementation is:

[code]

That means that a random password will be created for you. Then, if you want a proper password, you have to go to your profile page and update the password.

I don't think it should be too difficul

[2018-01-16 15:37] mssola commented on #1418
This is fixed since a couple of days ago. You should be able to pull `opensuse/portus:head` and it should be up-to-date. Notice that some stuff has been changed: check the examples again for the changes (we'll document it asap).

I'll go through the duplicate issues now 😅

[2018-01-16 15:39] mssola commented on #1408
@phasenohr this no longer happens with `opensuse/portus:head`. Could you check again ? (check the examples because some stuff has changed).

[2018-01-16 15:40] mssola commented on #1418
We will be tagging a 2.3 release rather soon-ish, so you can use that version instead of facing all the instabilities of the master branch 😉

[2018-01-16 15:40] mssola commented on #1418
Closing this main issue, in favor of all the specific ones. If you have any question, feel free to write here 👍

[2018-01-16 15:40] #1418 closed

[2018-01-16 15:41] mssola commented on #1393
@vagharsh could you test this with current `opensuse/portus:head` ? (note that some env. variables have changed, check the `examples` directory).

[2018-01-16 15:42] mssola commented on #1386
This is fixed. Open again if this is not the case for you (pull the image again, and bear in mind the new env. variables to be used, we'll provide more documentation shortly).

[2018-01-16 15:42] #1386 closed

[2018-01-16 15:42] mssola commented on #1388
This is fixed, see my comments on #1418.

[2018-01-16 15:42] #1388 closed

[2018-01-16 15:43] mssola commented on #1448
This is fixed, see #1526 and my comments on #1418.

[2018-01-16 15:43] #1448 closed

[2018-01-16 15:43] mssola commented on #1449
Fixed! See my comments on #1418.

[2018-01-16 15:43] #1449 closed

[2018-01-16 15:44] mssola commented on #1439
This is most likely fixed. See my comments on #1418 👍

[2018-01-16 15:44] #1439 closed

[2018-01-16 15:44] mssola commented on #1532
Fixed! See my comments on #1418

[2018-01-16 15:44] #1532 closed

[2018-01-16 15:45] mssola commented on #1554
Fixed! See my comments on #1418.

[2018-01-16 15:45] #1554 closed

[2018-01-16 15:46] mssola commented on #1573
Fixed! See my comments on #1418. For the background part, note that instead of providing a command, you now only need to pass an environment variable: `PORTUS_BACKGROUND=true` 😉

[2018-01-16 15:46] #1573 closed

[2018-01-16 15:48] mssola commented on #1574
Fixed. See #1418.

[2018-01-16 15:48] #1574 closed

[2018-01-16 15:50] mssola commented on #1405
Does this still happen to you ? I think this has been fixed for a while 🤔 Note that you cannot use the current master of Clair, since they've changed quite some stuff. You should use the v2 versions of Clair (see the docker-compose.yml file on the root of the project for an example).

[2018-01-16 15:52] mssola commented on #1453
@Amiiya  We've fixed quite some stuff on the clair side. It should work (use v2 for Clair, not master). If you want some examples, check the `examples/compose` files, and for clair check the `docker-compose.yml` file from the root of the project.

[2018-01-16 15:55] mssola commented on #1378
This should be fixed (notice that you have to use v2 of clair, as you can see on the `docker-compose.yml` file on the root of this project).

Also notice that this is now being done by the background process (see the `examples/compose` directory for some examples and how this `background` container can be used).

I won't close this issue for now, I'll wait for confirmation in the following days. O

[2018-01-16 15:57] mssola commented on #1167
We've fixed this situation since my [last comment](https://github.com/SUSE/Portus/issues/1167#issuecomment-352014240). I'll close this issue once we create the branch for 2.3, which should happen in the following days.

[2018-01-16 15:59] mssola commented on #1165
Let's move this to 2.4, since we are a bit late for this 😅

[2018-01-16 16:43] Vad1mo commented on #1405
I'll check it with the latest head in the next days. However a few weeks ago I didn't get a 500 anymore but also I didn't get any vulnerability results.

[2018-01-16 16:51] otavio commented on #1514
Wouldn't be better to postpone the unfinished features to 2.4 release and get 2.3 out soon?

[2018-01-16 17:02] otavio commented on #1479
The filter should also allow for some kind of pattern matching for tags.

Here we use CI and it makes tags based on `git describe` so allowing us to keep just the releases after some time window would be perfect.

Something as:

- tag matching '.*-\d+-g.*'
- older than 1 month

[2018-01-16 17:14] vitoravelino commented on #1514
The problem wasn't unfinished features but issues with packaging while upgrading the ruby version. As soon as we confirm that everything is being built properly in OBS, we'll merge #1593 and probably launch 2.3. @mssola can give more detailed information about it.

[2018-01-16 23:07] dober commented on #1589
same trouble with background container

PORTUS_BACKGROUND uncommented :/

[2018-01-17 00:19] Vad1mo commented on #1591
When we implemented that feature, we skipped the password on purpose.
We traded usability in favour of completeness  to provide smooth initial login and user experience.

The fact that the user has the option to change his username before he registers is an admission to  the situation that a new personal namespace is created that can't be changed afterwards.

Also with *Application tokens* the sit

[2018-01-17 07:55] mssola commented on #1555
I think we can close this issue. If you have any more doubts on this issue feel free to add more comments 👍 Thanks!

[2018-01-17 07:55] #1555 closed

[2018-01-17 07:56] mssola commented on #1540
As @vitoravelino said, #1561 should've done the trick, so I'll close this issue. If this is not the case for you, feel free to open it again and leave more comments 😉 Thanks!

[2018-01-17 07:56] #1540 closed

[2018-01-17 07:57] mssola commented on #1539
Closing since I think this is not related to Portus itself. If you have any more details, feel free to let us know. Thanks!

[2018-01-17 07:57] #1539 closed

[2018-01-17 07:59] mssola commented on #1538
Closing, since this appears to be a networking issue. Moreover, we've updated the docker-compose file, so you might want to update it (e.g. crono is no longer there). Thanks!

[2018-01-17 07:59] #1538 closed

[2018-01-17 08:00] mssola commented on #1511
Closing. If this is not what @jordanjennings mentioned, please feel free to re-open again and provide more information so we can further investigate this issue. Thanks!

[2018-01-17 08:00] #1511 closed

[2018-01-17 08:02] mssola commented on #1510
I cannot reproduce this error. There was another issue with a weird Docker installation and CentOS, maybe it's the same problem ? If so, please refer to the distribution about this. If you have any more details that may clarify this issue, feel free to leave more comments.

I'll close it for now because this looks like a weird issue on the Docker side rather than in Portus. Thanks!

[2018-01-17 08:02] #1510 closed

[2018-01-17 08:04] mssola commented on #1591
I see. I'll keep this issue open then, to remind me that I should update the documentation with this explanation. Thanks @Vad1mo ! 👏

[2018-01-17 08:05] mssola commented on #1589
@dober could you paste your docker-compose.yml file and the logs ?

[2018-01-17 08:07] mssola commented on #1514
@otavio all the packaging issues have been fixed since last week. We are now polishing things out on pending issues and such, but we should be branching 2.3 really soon (and all features have already been postponed to 2.4).

For the next release we'll try to keep it simpler so we can release earlier, but for 2.3 we had a couple of unplanned features that have changed the deployment part of Portus

[2018-01-17 08:09] mssola commented on #1405
I believe that at first we made sure that Portus didn't crash (maybe that's the version you tried ?), and then we polished a couple of things and pinned the Clair version. Just make sure to use the right version of Clair 😉

[2018-01-17 08:11] mssola commented on #1365
Closing this. If you have any more questions, feel free to leave more comments or write an email to our [mailing list](https://groups.google.com/forum/#!forum/portus-dev). Thanks!

[2018-01-17 08:11] #1365 closed

[2018-01-17 08:37] dober commented on #1589
@mssola

log:
[code]

docker-compose:

[code]

[2018-01-17 11:01] otavio commented on #1514
Great news @mssola; it makes sense to get it published soon.

I see. Keeping it small give some great benefits, especially a shorter upgrade path for users and it should help people to keep it continuously update.

[2018-01-17 15:16] tomthetommy opened #1597 "No provider of 'ruby2.5-devel' found."
Hi,

So I'm using the examples found in https://github.com/SUSE/Portus/tree/master/examples/compose

But can't due to the known issue of https://github.com/SUSE/Portus/issues/1574

When I try to build the docker image myself, I get the following errors:

Sending build context to Docker daemon  7.335MB
Step 1/8 : FROM opensuse/ruby:2.5
manifest for opensuse/ruby:2.5 not found

So I changed it to op

[2018-01-17 15:31] Vad1mo commented on #1597
the review https://github.com/SUSE/Portus/pull/1593#pullrequestreview-89297974 mentioned it. however you can build it manually meanwhile you can build the image yourself

https://github.com/openSUSE/docker-containers

[2018-01-17 16:45] tomthetommy commented on #1589
I have the same issue unfortunately.

Config:

`version: "2"

services:
  portus:
    image: opensuse/portus:2.3
    environment:
      - PORTUS_MACHINE_FQDN_VALUE=${MACHINE_FQDN}

      # DB. The password for the database should definitely not be here. You are
      # probably better off with Docker Swarm secrets.
      - PORTUS_PRODUCTION_HOST=db
      - PORTUS_PRODUCTION_DATABASE=portus_product

[2018-01-17 17:25] Vad1mo commented on #1597
However even if you manage to build your Ruby 2.5 yourself. Portus image won't build.  This issue prevents from testing the latest master.

This is a major issue that needs to be addressed.

[2018-01-17 21:02] tomthetommy commented on #1597
I've tried it, and it's just a cluster fudge of errors. I've also tried a rebuild from master of the portus image and it's erroring on "
/bin/sh: bundle: command not found"

I've added it myself, and there's more errors following it.

I'll await the fixes and then start again.

[2018-01-18 05:53] Vad1mo commented on #1597
@mssola and @vitoravelino could you check on the packaging problem?

[2018-01-18 09:50] mssola commented on #1405
Moving to the 2.4 milestone (but if this is an issue, we can provide a fix for a patch-level release).

[2018-01-18 09:51] mssola commented on #1378
Marking as fixed since the release is almost ready. This can go in a patch-level release if we discover that it's still affecting us. Thanks!

[2018-01-18 09:51] #1378 closed

[2018-01-18 09:53] mssola commented on #1117
Moving to 2.4 as the 2.3 release is about to be released.

[2018-01-18 09:54] mssola commented on #1167
The v2.3 branch has been created already, and the Docker image for it is available as `opensuse/portus:2.3`. Closing 👍

[2018-01-18 09:54] #1167 closed

[2018-01-18 09:56] mssola commented on #1270
This is no longer valid since you can now use [openSUSE/portusctl](https://github.com/openSUSE/portusctl). Further work will go into the API. Thanks 👍

[2018-01-18 09:56] #1270 closed

[2018-01-18 09:58] mssola commented on #1268
Moving to 2.4, since the 2.3 release is about to be out.

[2018-01-18 10:00] mssola commented on #1278
I think can be safely closed:

- The changes from @vitoravelino improves the performance a lot.
- The crono code has been merged into the background process, and it has been done in a way which won't conflict with other tasks.

If this is not the case, please re-open again or submit a new issue with further details.

Thanks 👍

[2018-01-18 10:02] mssola commented on #1134
This should already be fixed. Submit a new issue with further details if this is not the case for either `master` or `v2.3` branches. Thanks 👍

[2018-01-18 10:02] #1134 closed

[2018-01-18 10:04] mssola commented on #1235
This is fixed already. We've moved quite some tasks into the new background process. Thanks for the  feedback 👍

[2018-01-18 10:04] #1235 closed

[2018-01-18 10:11] mssola commented on #964
This shouldn't happen anymore.

[2018-01-18 10:11] #964 closed

[2018-01-18 10:12] mssola opened #1599 "Fix remaining issues on the synchronization of the registry"
There are some pending issues from the synchronization of the registry. This issue tries to be an aggregate of old issues.

#### Crono deletes everything

Some issues pointed out that old crono might remove all the contents. See #663.

#### Crono is adding & removing images

See issues: #1184, #1261, #1160 and #1232.

[2018-01-18 10:13] mssola commented on #1184
Closing in favor of #1599.

[2018-01-18 10:13] #1184 closed

[2018-01-18 10:13] mssola commented on #1232
Closing in favor of #1599.

[2018-01-18 10:13] #1232 closed

[2018-01-18 10:13] mssola commented on #663
Closing in favor of #1599.

[2018-01-18 10:13] #663 closed

[2018-01-18 10:14] mssola commented on #1261
This is a duplicate of an issue grouped in #1599.

[2018-01-18 10:14] #1261 closed

[2018-01-18 10:15] mssola commented on #1160
Duplicate of an issue grouped in #1599.

[2018-01-18 10:15] #1160 closed

[2018-01-18 10:15] mssola commented on #899
This is probably fixed, but I'll continue to investigate during the 2.4 release.

[2018-01-18 10:16] mssola commented on #1125
Moving to 2.4.

[2018-01-18 10:17] vitoravelino commented on #1278
I think we should keep this issue open just to be aware of the problem. I've improved a bit but it's far from perfect.

We can revisit this during 2.4 and try to come up with a plan.

[2018-01-18 10:18] mssola opened #1600 "Allow to disable some tasks from the background process"
It's better to be safe than sorry, so people should be able to disable some tasks if they are buggy.

[2018-01-18 10:19] mssola commented on #1277
This is most probably a `cconfig` bug that we fixed. Re-open this if you are still having problems.

[2018-01-18 10:19] #1277 closed

[2018-01-18 10:19] mssola commented on #1338
I think this has already been fixed, but I'll move it to 2.4 just to be sure this is not happening anymore.

[2018-01-18 10:27] mssola commented on #1258
Moving to 2.3 since we didn't have the time for this.

[2018-01-18 10:36] tomthetommy commented on #1597
What I mean't to say was, I added the bundle exec into the bin manually as it wasn't present in the ruby image.

But yeah, more errors follow so I'll wait on it.

[2018-01-18 11:04] #1255 closed

[2018-01-18 12:09] Amiiya commented on #1453
ooo nice! i'll check it out.. thanks a lot :heart_eyes:

[2018-01-18 16:06] #1514 closed

[2018-01-18 16:10] mssola commented on #1514
I've updated the documentation with notes on the next release. We have also sorted out milestones for forthcoming releases and the v2.3 release has already been branched out (there's a Docker hub tag and a git branch).

[2018-01-18 17:09] mssola commented on #1597
I pushed the `opensuse/ruby:2.5` image yesterday because I was using a local version all the time and I forgot to push it 😅 Now I also realized that it's missing some links. Now I'm building & testing and I'll push everything so the development image works again... Sorry for the trouble 😞

[2018-01-18 17:28] mssola commented on #1589
As the exception is informing you, you have to change the DB related env. variables from `PORTUS_PRODUCTION_*` to `PORTUS_DB_*`. See the [upgrading notes](https://github.com/SUSE/Portus/blob/master/CHANGELOG.md#upgrading).

Also, download the image again (either `opensuse/portus:head` or `opensuse/portus:2.3`), since we are now using ruby 2.5 and the exception trace from @dober is using ruby 2.4 😉

[2018-01-18 17:32] mssola commented on #1597
PR #1602 should've fixed your issues. That being said, Docker hub has not built `opensuse/ruby:2.5` yet, so we'll have to wait until that to confirm that this is fixed (or you can build it locally 😉).

Moreover, we have already branched out 2.3 and the Docker hub tag has been created, so you can use `opensuse/portus:2.3` (which is the release candidate).

[2018-01-18 23:48] dober commented on #1589
Thanks! Works like a charm !

[2018-01-19 10:05] mssola commented on #1589
@tomthetommy @jcgruenhage could you then pull the image again, check the [upgrading notes](https://github.com/SUSE/Portus/blob/master/CHANGELOG.md#upgrading) and tell me if it works for you ?

[2018-01-19 13:19] tomthetommy commented on #1589
I also have an error now where bundle install isn’t finding the gemfile for some reason. It is there, I can ls it and cat it. :/

[2018-01-22 10:43] phasenohr commented on #1408
@mssola thank you for the update. Unfortunately I am facing issues while trying to test it as I run portus from a sub-uri (/apps/portus/) and although I have set RAILS_RELATIVE_URL_ROOT to /apps/portus/ I see calls to /api/v1/xxx which are failing (should be /apps/portus/api/v1/xxx which are working fine)
The same is for urls starting with /assets instead of /apps/portus/assets but this is more co

[2018-01-22 15:00] phasenohr commented on #1408
@mssola After adding many redirect rules in my reverse proxy, I could test the current version and I have been successfully able to list and delete images within repositories so I think that the bug is fixed.
Thanks a lot for this.

I will open a new ticket for the sub-uri issue as it makes the deployment of Portus impossible in my production environment (in addition to /apps/portus/, I need to ma

[2018-01-22 15:12] mssola commented on #1589
@tomthetommy what docker-compose file were you using ? The one on the root of the project on one of the `examples` ? Just saying because we just merged #1606 which fixes an issue on the Dockerfile of the root of the project.

[2018-01-22 15:12] Vesli commented on #1599
Hey mssola, how is this issue going on?

Here at my company I wanted to have a go with Portus and fortunately we are using it for our staging environment only at the moment.

I say fortunately because we are running it directly on an OpenSuse machine and over the weekend Portus deleted all the images, from its DB and from the registry!

I saw that for some people it pushes it again after some time

[2018-01-22 15:14] mssola opened #1608 "The API calls should honor the RAILS_RELATIVE_URL_ROOT path"
If `RAILS_RELATIVE_URL_ROOT` has been specified, then the API calls should prefix this value in the path.

[2018-01-22 15:15] mssola commented on #1608
See [this comment](https://github.com/SUSE/Portus/issues/1408#issuecomment-359386591).

[2018-01-22 15:15] phasenohr opened #1609 "RAILS_RELATIVE_URL_ROOT not correctly honoured"
In the opensuse/portus:head version of 21/01/2018 (build bfbyoe5kxdzv75gzqryl8fx), the environment variable `RAILS_RELATIVE_URL_ROOT` is not correctly handled.
I deploy Portus at https://internal1_fqdn/apps/portus/ in order to be accessible through a reverse proxy listening at https://external_fqdn/apps/portus/

I configured `RAILS_RELATIVE_URL_ROOT=/apps/portus/`

The GUI is correctly displayed b

[2018-01-22 15:16] mssola commented on #1408
@phasenohr I just opened #1608 for the issue you're mentioning. So, if you don't mind, I'll close this issue since I think it's fixed, but feel free to leave more comments.

[2018-01-22 15:16] #1408 closed

[2018-01-22 15:52] #1609 closed

[2018-01-22 15:53] mssola commented on #1609
Duplicate of #1608 😉 Let's track this issue there. There's a PR already open (#1610), which we will merge as soon as possible, and it will be included in the 2.3 release (the release is not there yet, so we can still accept last-minute fixes 👍)

[2018-01-22 15:53] mssola commented on #1608
Fixed with #1610.

[2018-01-22 15:53] #1608 closed

[2018-01-22 15:55] mssola commented on #1609
Just cherry-picked into the `v2.3` branch. We only need to wait until Docker images are rebuilt with the new code. Thanks for reporting 👍

[2018-01-22 16:14] mssola commented on #1599
That is ... bad 😞 Could you possibly collect the logs, and possibly get into more detail on your deployment strategy. Even if it's a bit old, it might help us to fix this situation.

Well, I'd advise in favor of this solution. Bear in mind that we are in the process of releasing the 2.3 version, so you might want to take a look at this (since moreover it has some deployment changes). Check our [ex

[2018-01-22 19:25] Vad1mo opened #1611 "Creating a production like setup is cumbersome and current files aren't helping."
The provided sample inti.rb and puma.rb files in combination with ping, or actually everything that does something like `system("bundle exec..")` is failing in other environments then development.

Reason is everytime system is called env variables aren't passed.(and existing also ignored)

Here you see that after the db is setup the next task fails as the environment variables are missing.
The cu

[2018-01-22 19:49] Vad1mo opened #1612 "Task portus:assets:compile needs development gems"
The task `portus:assets:compile` needs development gems.  This dependency make it hard to create a bundle for prod in a ci/cd system. because it needs to add all gems then `portus:assets:compile` and then remove dev and test gems again. In docker envs this is not possible in one step in two steps it doesn't make sense.

I don't know how to resolve it other then suggest adding annotate and other de

[2018-01-23 09:53] ahauteclocque commented on #1055
+1
Labels are great for organizing images

[2018-01-23 10:03] phasenohr commented on #1608
Thanks @mssola for this quick fix
Almost everything is fixed but the URLs asking for `assets` are still not taking into account `RAILS_RELATIVE_ROOT` This bug was present already months ago but I did not report it.

[2018-01-23 10:41] vitoravelino commented on #1608
@phasenohr Can you give us more details? I mean, what's happening with which the assets?

[2018-01-23 10:58] phasenohr commented on #1608
I have `RAILS_RELATIVE_ROOT = /apps/portus/` therefore I access Portus via http://server/apps/portus/

For example, the symbols used next to _LDAP Login_ on the login page or next to _Dashboard, Namespaces, Repositories etc..._ on the main page are not displayed as the font files are not accessible.

When I go to http://server/apps/portus/, there are calls from the browser to urls like
http://serv

[2018-01-23 11:22] mssola commented on #1418
That's weird. I've tried with the latest `head` and `2.3` images and both work fine with the `examples/compose/docker-compose.insecure.yml` file. What are you doing to deploy portus?

[2018-01-23 11:31] Vesli commented on #1418
So, as said I'm using the Rancher orchestration. Here is what the Portus deployment looks like:

<img width="1382" alt="screen shot 2018-01-23 at 11 27 12" src="https://user-images.githubusercontent.com/10052941/35273522-c6fb40c4-0030-11e8-96da-3534125922d5.png">

<img width="924" alt="screen shot 2018-01-23 at 11 27 23" src="https://user-images.githubusercontent.com/10052941/35273528-cb560bae-003

[2018-01-23 11:34] vitoravelino opened #1614 "Add spinning icon while validation happens"

[2018-01-23 11:37] mssola commented on #1418
Same for the secure deployment, btw

[2018-01-23 11:38] mssola commented on #1418
@Vesli not experienced with Rancher, but that looks fine indeed. Could you paste the full logs ? (as in, all services)

[2018-01-23 11:40] mssola commented on #1418
It's not normal in the secure example. If you are serving the assets through rails (which is the case of your screenshot, then it's fine).

[2018-01-23 11:41] mssola commented on #1614
Example:

1. You want to create a registry
2. Set the data for the different elements
3. The "Create" button is disabled, until it gets magically enabled

Instead, it should have a spinning icon or something similar indicating that Portus is checking the given data.

[2018-01-23 11:43] Vesli commented on #1418
Ok, so the only active log is from Portus when I try a connexion, nginx - DB and background aren't showing anything.
Hope that helps! (sorry I tried to check a bit but I don't get if it's possible to hide / collapse so many lines)

23/01/2018 11:39:43Processing by Auth::SessionsController#new as HTML
23/01/2018 11:39:43Redirected to https://portus.heyolly.com:3000/users/sign_up
23/01/2018 11:39:43

[2018-01-23 12:50] Vad1mo opened #1616 "Not possible to create js in production mode"
Its not possible to create webpack modules in production mode as needed.

[code]
causes:
[code]

[2018-01-23 14:39] mssola commented on #1464
We have another project for portusctl: [openSUSE/portusctl](https://github.com/openSUSE/portusctl). This issue will be marked as done as soon as it can be used as a replacement: when it can be used inside of the Docker image with the `exec` command.

[2018-01-23 15:23] Vesli commented on #1418
So I've executed the shell of the container and `/srv/Portus/public/` is empty!

[2018-01-23 15:27] Vesli commented on #1418
Ok, it works the volume was miss configured! I'm ashamed... Sorry for that!

[2018-01-23 16:54] hactar opened #1617 "Portus docker-compose confusion"
I'm trying to fire up Portus in containers, however this is proving to be difficult, and the documentation is confusing:

There are multiple docker-compose files in this registry:

1) The one in the root folder, using the :development tags
2) Two in the examples/compose folder
3) The others in the example folder

There's multiple documentation pages on this too, they contain similar, but not ident

[2018-01-23 16:57] Vesli opened #1618 "portus background - Cannot obtain authorization token"
Was my bad about the config.

[2018-01-23 18:34] Vesli commented on #1589
I've got the same issue! (yes, me again, sorry haha)

portus:2.3

My background container keeps on restarting (rancher orchestration), no problem with the main portus container:

23/01/2018 18:32:47[Mailer config] Protocol: https://
23/01/2018 18:32:51[Initialization] Running: 'Registry events', 'Security scanning', 'Registry synchronization'
23/01/2018 18:32:51Traceback (most recent call last):
2

[2018-01-24 03:46] mcharris opened #1619 "OpenID Connect not actually implemented"
According to the documentation Portus should be able to support OpenID Connect when it is not supported by the current implementation. The gem that was added is omniauth-openid which only supports OpenID and not OpenID Connect. Please note, these are two different things.

[2018-01-24 07:40] Vad1mo commented on #1619
Hmm, thank you for the info. Indeed it should be OIDC.

We will provide an PR.

[2018-01-24 08:00] #1340 closed

[2018-01-24 08:00] #1578 closed

[2018-01-24 10:20] #1618 closed

[2018-01-24 11:32] mssola commented on #1418
No worries 😉

[2018-01-24 11:40] mssola commented on #1619
@Vad1mo do you think it's an easy thing to provide ? Or we should postpone this to 2.4 ?

[2018-01-24 13:59] #1597 closed

[2018-01-24 14:02] tomthetommy opened #1620 "Cannot build Portus Image: "update-alternatives: error: alternative path /usr/bin/bundle.ruby2.5 doesn't exist""
So I'm still having no luck in building an image from the master branch. I haven't been able to get an image built in about 2 weeks now.

When I run the build on the following file I get an error (update-alternatives: error: alternative path /usr/bin/bundle.ruby2.5 doesn't exist):

[code]

[2018-01-24 14:17] tomthetommy commented on #1620
Also when using the examples in the Portus/examples/compose directory also lead to failures:

This one from the opensuse/portus:head image, and compose_background_1 container:

And this from the opensuse/portus:head and compose_portus_1 container:

ActiveRecord::StatementInvalid: Mysql2::Error: Cannot delete or update a parent row: a foreign key constraint fails: DROP TABLE `namespaces` CASCADE

[2018-01-24 14:21] vitoravelino opened #1621 "Replace typeahead.js"
`typeahead.js` is no longer maintained for a long time (there's a fork but the legacy is huge). With the jQuery upgrade to 3.x, we weren't able to make it work with typeahead while using webpack.

An alternative is https://vue-multiselect.js.org/.

After replacing it, we can put jQuery back to `package.json`.

[2018-01-24 15:03] mssola commented on #1617
Hi, we have two docker-compose kinds of setups:

1. The one on the root of the project is for development purposes only. It's the one documented on the wiki. I've just updated the wiki with the other containers (they were added quite recently and it seems that we forgot about the wiki...).
2. The production-ready examples inside of the `examples` directory have a README.md file which documents wha

[2018-01-24 15:19] Nick-Harvey commented on #1618
What was the config error? Could be helpful for others :)

[2018-01-24 15:23] Vesli commented on #1618
It was the password badly specified!
The portus password wasn't identical in the 2 containers (or simply wrong in both, don't really remember) thus I deleted the user Portus in the DB and recreated it.

Nevertheless the background is still not working, regarding:
#1589

[2018-01-24 15:47] mssola commented on #1589
I'll take a closer look to this...

[2018-01-24 15:49] mssola commented on #1612
You shouldn't be executing this task in production. All assets have already been bundled/minimized/... in the `public` directory (notice that we leave out lots of gems on purpose, so the final Docker image is as small as possible and only has what is needed for production). What's the use case for this ?

[2018-01-24 15:50] mssola commented on #1616
This is kind of similar to [this](https://github.com/SUSE/Portus/issues/1612#issuecomment-360177917), no ?

[2018-01-24 15:51] mssola commented on #1620
Just to be sure, remove first `opensuse/ruby:2.5` and other old portus' images and pull them again, since updates have been issued and I at least cannot reproduce this.

[2018-01-24 15:53] mssola commented on #1621
I thought that the idea was to remove jQuery entirely ? 😕

[2018-01-24 15:57] mssola commented on #1611
Is this coming from one of the examples ? And note that `bundle` should never be executed on the production environment for Portus (use `portusctl` instead).

[2018-01-24 16:01] Vad1mo commented on #1612
I am building a custom image and wanted to compile the assets as they aren't checked in git.

I also don't want to do it in the CI system (docker hub automated build) but rather when creating the image, If I have to setup a build Environment I need to do it outside.
I have the opinion that it should not be needed to create a build environment in order to create an image  as all can be done the Doc

[2018-01-24 16:06] vitoravelino commented on #1621
That was the idea but I realized that we rely on a lot of bootstrap plugins that are built on top of jQuery. I would need to investigate more to know the impact of removing it. For now only replacing typeahead and then we can think of other things.

[2018-01-24 16:09] Vad1mo commented on #1611
kind of, I created based on the examples, a production like init.rb and puma.rb however all then env variables are messed and checked everywhere in the application during runtime.

I think the best idea is to create a bash script the does start pume and not ruby as env vars can't be set.

[2018-01-24 17:05] Nick-Harvey opened #1624 "Another Authorization token failure for backround.rb"
I thought this might be related to https://github.com/SUSE/Portus/issues/1618 but it doesn't seem to be.

Running `bundle exec rails r bin/background.rb` in the container returns:

`Exception: Cannot obtain authorization token: #<Net::HTTPUnauthorized:0x0000000006bf14f8>`

logs from the container:
[code]

I've double and triple checked that the portus users password is set correctly and what's str

[2018-01-24 18:04] mcharris commented on #1619
@Vad1mo I am currently working on a pull request for adding OpenID Connect. The issue is that there isnt a rubgems.com package that is updated/maintained for OIDC with omniauth. The closest one is gem https://github.com/hhorikawa/omniauth-openid-connect.

Essentially I would need to add
`gem 'omniauth-openid-connect', :git => 'https://github.com/hhorikawa/omniauth-openid-connect'` to the Gemfile.

[2018-01-24 18:09] Vad1mo commented on #1619
alright, did you look at https://github.com/m0n9oose/omniauth_openid_connect its more or less up to date.

Go forward with the PR, I will have some time next week for testing.

[2018-01-24 18:12] mcharris commented on #1619
@Vad1mo I did but decided against it since it wasnt updated for that last 2 years. I will use that though unless I run into an issue.

[2018-01-24 20:57] majidpal commented on #1445
Hi - I am facing issue connecting to mariadb database

docker run -d -p 3000:3000 --name=portus -e PORTUS_CHECK_SSL_USAGE_ENABLED=false -e PORTUS_SECRET_KEY_BASE=<password> -e PORTUS_DB_HOST=<ip-add> -e PORTUS_DB_DATABASE=portus_test -e PORTUS_DB_PASSWORD=<pass> -e PORTUS_DB_POOL=5 -e PORTUS_KEY_PATH=/certificates/portus.key -e PORTUS_PASSWORD=<pass> opensuse/portus:2.3

docker run --name mariadb_

[2018-01-24 21:24] anlek opened #1625 "All ajax requests are adding a double slash in front of the host"
Running the docker-compose version and when I click on "Namespaces" a request fires to:
`http://hub.[redacted].com//api/v1/namespaces` (note the double slashes after the `.com`).
If I run the same request with a single slash (aka: `http://hub.[redacted].com/api/v1/namespaces`) it works just fine.

Namespaces aren't the only issue, every ajax request hits the double slashed URL. Any ideas?
I'm runn

[2018-01-24 21:46] anlek commented on #1625
just found that my `window.API_URL` is `"//hub.[redacted].com/"`. Not sure if that helps though :(

[2018-01-24 23:09] anlek commented on #1625
OK, after another hour at this, I think it's `traefik`'s way of setting up the HTTP_HOST env variable that's got an extra `/` in it or something like that. The odd thing is some API calls seem to not do double slashes (like namespace name validation call) but others seem to have an issue (like the team name validation).

[2018-01-25 01:30] anlek commented on #1433
`_ping` or `_health` are not working for me on the current `:latest` tag

[code]

This might have something to do with traefik in front of the service

[2018-01-25 01:47] majidpal commented on #701
I am facing loading sign up page. I have used portus and mariadb container. Getting below error -

Started GET "/assets/webpack/application-cf07f57053f06e4d93e5.js" for  at 2018-01-25 01:34:15 +0000

ActionController::RoutingError (No route matches [GET] "/assets/webpack/application-cf07f57053f06e4d93e5.js"):
  vendor/bundle/ruby/2.5.0/gems/actionpack-4.2.10/lib/action_dispatch/middleware/debug_ex

[2018-01-25 03:24] majidpal opened #1626 "404 error accessing Portus UI"
Have used docker image  opensuse/portus:2.3 and mariadb:10.0.23 but facing issue while accessing UI. Below error -

Started GET "/assets/application-20f67d7832e7f80743d80b935441f204ab9a5cfdbfbc155027f330d6397aed28.css" for  at 2018-01-25 02:00:23 +0000
Started GET "/assets/webpack/application-cf07f57053f06e4d93e5.js" for 10.236.179.117 at 2018-01-25 02:00:23 +0000

ActionController::RoutingError (

[2018-01-25 09:25] martinsp commented on #1433
In this commit https://github.com/SUSE/Portus/commit/fbe7e8d4ef5370d0be8f6ba4b07a45a0b52de0a8 `/_ping` was removed

As of this commit https://github.com/SUSE/Portus/commit/42823308fee4bb84b706214c37c877b94a363365 `/api/v1/_ping` was added

From what I see in code `/api/v1/_ping` and `/api/v1/health` can now be used

[2018-01-25 09:46] vitoravelino commented on #1626
Hi,

Are you using `docker-compose`? Are all the containers running? What's your setup?

[2018-01-25 10:13] vitoravelino commented on #1625
I'm aware that this was happening but didn't know it was an issue. I'm going to investigate it.

[2018-01-25 10:23] Vad1mo commented on #1619
Hello @mcharris, sorry it seems I messed up with cope and paste. Looking again at the openid connect situation, it seems like indeed https://github.com/hhorikawa/omniauth-openid-connect
is the best and most up to date available option.

Sorry for the confussion

[2018-01-25 12:49] #1625 closed

[2018-01-25 14:58] majidpal commented on #1626
I am not using docker compose. I have used portus and mariadb images on
same server.

docker run -d -p 3000:3000 --name=portus -e
PORTUS_CHECK_SSL_USAGE_ENABLED=false -e

PORTUS_SECRET_KEY_BASE=test -e PORTUS_DB_HOST=XXXXXXXX -e

PORTUS_DB_DATABASE=portus_test -e PORTUS_DB_PASSWORD=test -e
PORTUS_DB_POOL=5 -e

PORTUS_KEY_PATH=/certificates/portus.key -e PORTUS_PASSWORD=test -e

PORTUS_ANONYMOUS_BR

[2018-01-25 15:08] vitoravelino commented on #1626
I suppose that you already ran `portus:assets:compile` rake task, right? Can you try to set `RAILS_SERVE_STATIC_FILES=true`?

[2018-01-25 15:24] mssola opened #1632 "Swagger documentation does not work for containerized deployments"
This is mostly due to the assumptions the `config/initializers/swagger.rb` is doing...

[2018-01-25 16:06] majidpal commented on #1626
i have not run any commands explicitly. I just created portus container
with command I gave. I dont have any experience in ruby. Can you help me
where I have to run this commands?

On Thu, Jan 25, 2018 at 9:08 AM, Vítor Avelino <notifications@github.com>
wrote:

[2018-01-25 16:11] vitoravelino commented on #1626
Just set env variable `RAILS_SERVE_STATIC_FILES=true` just like you did for the other values. This will tell rails to serve the static content and the 404 should not happen (I hope so).

[2018-01-25 16:22] majidpal commented on #1626
Ok. Thanks Victor. So will it be like PORTUS_RAILS_SERVE_STATIC_FILES=true
??

On Thu, Jan 25, 2018 at 10:11 AM, Vítor Avelino <notifications@github.com>
wrote:

[2018-01-25 16:24] vitoravelino commented on #1626
No, just `RAILS_SERVE_STATIC_FILES=true`.

[2018-01-25 18:06] majidpal commented on #1626
Great. it worked. Thank you.

On Thu, Jan 25, 2018 at 10:24 AM, Vítor Avelino <notifications@github.com>
wrote:

[2018-01-25 18:26] #1626 closed

[2018-01-25 19:55] anlek commented on #1433
Those work perfectly! Thanks.
Need to update the docs online (http://port.us.org/features/health.html).
Let me know if I can help with that.

[2018-01-25 20:01] anlek commented on #1625
Awesome, thank you so much. Will this be on the `:head` branch of docker now?

[2018-01-25 20:46] anlek commented on #1625
`:head` works perfectly! Thank you so much for the fix!

[2018-01-25 20:51] Nick-Harvey commented on #1624
FQDN is set correctly as well in the config

[2018-01-25 23:16] mcharris commented on #1619
Pull request #1633 open. Let me know if you have any questions. I might close the pull request if it fails travis tests.

[2018-01-26 09:41] branzo commented on #1620
Hello @mssola,

i got the same error today, after pulling opensuse/portus:head from hub.docker.com, here's an extract from the logs:

portus_1    | Initializing database
portus_1    | portus_production already exists
portus_1    | No smtp username supplied, not using smtp authentication
portus_1    | [Mailer config] Host:     my.host.name
portus_1    | [Mailer config] Protocol: https://
portus_1